[2020-07-23 10:12] KevinNTH opened #8 "Add input customisation class for autocomplete component"
### Description

Autocomplete component provides these following classes to extend / override the component:
- root-class
- menu-class
- expanded-class
- item-class

It should include `input-class`.

### Why Oruga need this feature

We need to be able to control the size of the input.
![image](https://user-images.githubusercontent.com/1632391/88275260-5e4a7c80-ccdd-11ea-84e1-ace31c0d0842.png)

Mor

[2020-07-23 12:04] jtommy commented on #8
Good point!
I had in mind to add a new prop `input-classes` (object) that it contains all input props about classes.
For example:
[code]

What do you think ?

[2020-07-23 15:59] KevinNTH commented on #8
I think it's a nice idea but I believe having a local `input-class` that override the global one should be better. It will allow to handle specific cases for each component. For now I just try autocomplete one so I can see a need for this component specifically. Wdyt?

[2020-07-23 16:03] jtommy commented on #8
But you have to think that `o-autocomplete` uses `o-input` so you might need all input component (icon, wrapper container, ...)

[2020-07-23 18:59] KevinNTH commented on #8
In that case, it makes sense!

[2020-07-24 10:36] KevinNTH opened #10 "Add options to debounce / throttle to `o-autocomplete` component"
### Description
Add options to debounce / throttle to `o-autocomplete` component in order to reduce number of requests sent to the backend when the user types very fast.

### Why Oruga need this feature

Moreover, the method called when `@typing` is triggered is added to the call stack asynchronously so the second call is triggered before the first one has finished, resulting in incoherent data co

[2020-07-24 16:48] jtommy commented on #10
Usually should be the user to add a denounce function but I might add an internal implementation

[2020-07-24 17:07] KevinNTH commented on #10
Yes, agreed! I added a debounce wrap by my end and it works perfectly!

[2020-07-26 09:42] #8 closed

[2020-07-26 10:04] #10 closed

[2020-08-04 17:12] astagi opened #20 "Move scripts in the root `package.json`"
I have a proposal. Instead of moving into the core package, we could add some script in the root `package.json`. Someting along:
[code]
This way, it would be possible to test the package directly at the root using `npm run test:oruga`. It could be used to build also.

_Originally posted by @service-paradis in https://github.com/oruga-ui/oruga/pull/17#issuecomment-668714655_

[2020-08-05 17:09] #20 closed

[2020-08-31 01:07] mateuswetah opened #27 "Lack of padding on pagination buttons"
### Overview of the problem

**Oruga** version: [0.1.4]
**Vuejs** version: [2.6.11]
**OS/Browser**: Ubuntu 20.04/Firefox

### Description

The pagination buttons have a `min-width` but no `padding`. This makes links that have big numbers or even the *previous* and *next* buttons get a bit weird with the text next to the border:
![image](https://user-images.githubusercontent.com/1184874/91673797-35

[2020-10-09 14:31] bzd2000 opened #39 "Deprecated methods for vue 3"
Hi,

Thx for providing the Vue 3 branch.

There are some methods now depricated:
Vue warn]: `beforeDestroy` has been renamed to `beforeUnmount`.
  at <OTableColumn field="id" label="title" sortable="" >
  at <OTable data= (3) [{…}, {…}, {…}] isPaginated:="" true,=""  ... >
  at <HostListings onVnodeUnmounted=fn<onVnodeUnmounted> ref=Ref< Proxy {…} > >
  at <RouterView>
  at <HostLayout onVnodeUnmo

[2020-10-09 14:38] jtommy commented on #39
Yes, i know and I added it the mixin.
What's the warning?

[2020-10-09 14:53] bzd2000 commented on #39
Vue warn]: beforeDestroy has been renamed to beforeUnmount.

[2020-10-09 15:04] jtommy commented on #39
Mmm ok, I should remove it when Vue version is 3

[2020-10-09 16:16] bzd2000 commented on #39
@jtommy , i have some other issues.
I'll log them all?

[2020-10-09 16:18] jtommy commented on #39
You should open new issues, thanks

[2020-10-10 06:32] bzd2000 opened #40 "table vue 3 with has errors in console, which breaks at least the sorting"
The following errors are in the console:
[code]

[code]

I copied the code from the doc in https://oruga.io/components/Table.html#examples (pagination) into the oruga-next-demo project

[2020-10-10 06:42] bzd2000 commented on #40
some clues from the migration guide
https://v3.vuejs.org/guide/migration/render-function-api.html#_2-x-syntax-3 ?

[2020-10-10 06:57] jtommy commented on #40
I'll investigate about it

[2020-10-12 09:49] bzd2000 commented on #40
Also the following error in console

[code]

[code]

Not sure if it is a consequence of the above issue. If needed I create a separate issue

[2020-10-12 10:30] bzd2000 commented on #40
The first issue is probably in the TableMobileSort component

[2020-10-12 10:47] bzd2000 commented on #40
Ok this could be a possible fix in TableMobileSort

[code]

change    :value="column"> to    :value="column.newKey"> or something

[2020-10-12 11:00] jtommy commented on #40
Why??

[2020-10-12 11:02] bzd2000 commented on #40
the issue is that when assigning the column object to value, later it complains that " Cannot convert object to primitive value"

[2020-10-12 11:04] bzd2000 commented on #40
not sure it should be column.newKey or something else

[2020-10-14 07:35] jkulubya opened #41 "Table component calls vue.extend when columns are specified"
### Overview of the problem

**Oruga** version: [0.2.2]
**Vuejs** version: [3.0.0]
**OS/Browser**: macOS/FF82

### Description

The o-table component calls vue.extend when you specify an array of columns, but vue.extend doesn't exist in Vue 3.
See here https://github.com/oruga-ui/oruga/blob/348b052434c64e25292dc6ffdbc564eee9c44e28/packages/oruga/src/components/table/Table.vue#L828

### Steps to re

[2020-10-14 17:26] kevincote opened #42 "Detailed row opens at the end of the table instead of right under the row"
### Overview of the problem

**Oruga** version: 0.2.2
**Vuejs** version: 2.6.11
**OS/Browser**: Chrome

### Description

When toggling a detailed row, the detail section appears at the end of the table.

### Steps to reproduce

This behavior is present in the documentation examples. See: https://oruga.io/components/table.html#detailed

### Expected behavior

It should open the detailed row under t

[2020-10-14 18:28] bzd2000 opened #43 "Table: add props to set table class (and th class)"
Hi,

Is it possible to add a prop to the table component in order add  class on table
This is needed to manage the width of the columns with tailwindcss (table-auto, table-fixed)
Maybe also something is needed at th level to specify the width by tailwind class (w-32, w-1/3)

Thx,
Filip.

[2020-10-14 18:58] jtommy commented on #43
It's the main scope of Oruga as you can see in the docs.. https://oruga.io/components/Table.html#props

[2020-10-14 19:09] bzd2000 commented on #43
@jtommy , I don't see how to set a class on the table tag itself

[2020-10-14 19:15] jtommy commented on #43
Oh you are right, i'add one but at the moment you can use rootClass and apply your style on inner table

[2020-10-15 05:05] jtommy commented on #42
You are right! I'll check it soon

[2020-10-15 19:19] bzd2000 opened #44 "Steps in vertical mode: line between steps not alligned"
Hi,

I noticed that for the steps (vertical mode) the line between the steps is not horizontally centered between the icons
(compared to your other project Buefy, where it is aligned)

<img width="1689" alt="Screenshot 2020-10-15 at 21 19 04" src="https://user-images.githubusercontent.com/9049460/96176048-19289600-0f2c-11eb-978a-0193db75fd7c.png">

[2020-10-15 20:11] #44 closed

[2020-10-17 18:21] bzd2000 opened #46 "Vue3: Dropdown error in console (breaks component)"
### Overview of the problem

**Oruga** version: [next]
**Vuejs** version: [3.0.1]
**OS/Browser**: chrome

### Description
The following error in console

[code]

### Steps to reproduce

[code]

[2020-10-17 18:29] bzd2000 commented on #46
If you want I could also update the docs with vue3 example
the dropdown example for dropdown doesn't work for vue2

[2020-10-17 18:50] #46 closed

[2020-10-17 18:53] jtommy commented on #46
You can make a PR and remove destroy call

[2020-10-19 07:51] ais-one opened #49 "JS Agnostic"
### Description

It is good that Oruga is CSS Framework agnostic. How about also making it abit more JS Framework agnostic? Using VanillaJS, HTML5 Custom Elements

### Why Oruga need this feature

Would make it available to even wider audience...

[2020-10-19 21:01] jtommy commented on #49
@ais-one it's no a priority at the moment, I have to add all missing components.
Surely it might complete the agnostic concept introduced by Oruga but it's a really huge work and I don't know if it's possible offer the same features using web components.

[2020-10-19 21:01] #49 closed

[2020-10-20 03:08] chukwumaokere opened #50 "Oruga UI for Vue Next: Deprecated Slot syntax"
### Overview of the problem

**Oruga** version: [0.2.2]
**Vuejs** version: [3.0.0]
**OS/Browser**: Brave/Chromium

### Description
When using the template from here: https://oruga.io/components/Steps.html#examples
We get an error about v-slot and slot-scope being deprecated. When you remove the problematic code, or try to use new syntax, the icons on the buttons do not render. Not sure if this

##

[2020-10-20 06:24] jtommy commented on #50
The docs is running on Vue 2.x and same thing for example, but of course you can change it using Vue 3

[2020-10-20 06:24] #50 closed

[2020-10-22 15:00] djfuzzy commented on #41
Any more info about this? (i.e. when it will be fixed, possible workarounds, etc)

[2020-10-22 15:15] jtommy commented on #41
The workaround is to use default slots and not columns prop

[2020-10-22 15:42] djfuzzy commented on #41
Thank you for the quick reply. I'm new to Vue and although I understand the concept of slots, I'm not sure how to apply them here. Have any hints? Should I be putting my table HTML structure in the slot?

[2020-10-22 16:15] jtommy commented on #41
Take a look at docs, sandbox example

[2020-10-24 21:15] bzd2000 opened #53 "o-field with horizontal label not working"
### Description

When set horizontal and grouped on a o-field with a label, the child elements are not shown.
Also some other fixes related to this component.

### Steps to reproduce

<template>
    <section>
        <o-field horizontal grouped message="What do you want to search?" label="test">
            <o-input placeholder="Search..."></o-input>
            <o-button variant="primary">Search<

[2020-10-25 15:03] ais-one opened #55 "o-table backend sort event not firing"
### Overview of the problem

**Oruga** version: "@oruga-ui/oruga-next": "^0.2.2",
**Vuejs** version: 3.0.1
**OS/Browser**: windows

### Description

The sort event cannot be captured

### Steps to reproduce

[code]

### Expected behavior

The arrow icon on the column being sorted changes

and a console log message from function onSort() listening to @sort is seen when then sort order changes

this

[2020-10-25 15:46] bzd2000 opened #56 "Feature: set o-input invalid based on validationMessage if useHtml5Validation=false"
### Description

set o-input invalid based on validationMessage if useHtml5Validation=false
If validationMessage is set (useHtml5Validation=false), then the input field will be set invalid (variant = danger and validationMessage will be shown under the input field

### Why Oruga need this feature

In order to set the o-input invalid when working with external validation plugin like vee-validate

[

[2020-10-25 18:50] ais-one commented on #55
I found something in table.js

in the checkSort function, newColumns, it is always 0

Below is output of

1. console.log(this.newColumns)

Proxy {}
[[Handler]]: Object
[[Target]]: Array(6)
[[IsRevoked]]: false

2. console.log(this.newColumns.length)

0

[2020-10-25 18:58] jtommy commented on #55
Oh ok, I'll investigate about it

[2020-10-29 10:48] krizzdev commented on #42
We have the same problem. Thanks for checking. Any updates on this? :)

[2020-10-29 14:47] kevincote opened #58 "Incorrect centered class added to a column with the centered prop"
### Description

Table column props "centered" does not put the correct class on the column.

### Steps to reproduce

Set a table column with the props "centered".

### Expected behavior

The CSS class defined in the code in the file oruga/packages/oruga/src/scss/components/_table.scss for centered column is **o-table-td-center**. This class is the one that should be added to the cell.

### Actual

[2020-10-29 15:02] jtommy commented on #58
Ok thanks, you can create on with the same name or add a new one.
I'll fix it

[2020-10-29 15:31] gpp8p opened #59 "Pagination buttons are empty"
### Overview of the problem
Using the supplied example code for tables, the pagination  next and previous buttons are empty.  They work but no icon is displayed
**Oruga** version: [X.X.X]
**Vuejs** version: [X.X.X]
**OS/Browser**:

### Description

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-10-29 15:42] jtommy commented on #59
Are you importing fontawesome or MDI ?

[2020-10-29 16:02] gpp8p commented on #59
Just did and it fixed the problem.  You are the best!!!

Thanks for replying so quickly.

-George Pipkin

On Thu, Oct 29, 2020 at 11:42 AM Walter Tommasi <notifications@github.com>
wrote:

[2020-10-29 16:03] #59 closed

[2020-11-01 07:24] #58 closed

[2020-11-02 01:10] ais-one commented on #55
the values of this.newColumns are not present during checkSort, but are populated later...

[2020-11-02 01:24] ais-one commented on #55
I think it only works if you pass in columns as a property... e.g. <o-table :columns="columns">

[2020-11-02 09:07] herkulano opened #60 "@oruga-ui/next Typescript support"
### Description
Support Typescript in `oruga-next`

Get the following error message using `"@oruga-ui/oruga-next": "^0.2.2"`

`Could not find a declaration file for module '@oruga-ui/oruga-next'.`

[2020-11-02 10:36] astagi commented on #60
Hi @herkulano an initial Typescript support using the [shorthand ambient module](https://www.typescriptlang.org/docs/handbook/modules.html#shorthand-ambient-modules) will be added in the next Oruga's version, for now add the following to your `shims-vue.d.ts` to fix your issue

[code]

Let me know if it works!

[2020-11-02 10:47] herkulano commented on #60
@astagi thank you! it solves the issue with the error, but as expected there's no code completion for the components. Any plans on fully supporting TypeScript?

[2020-11-02 13:43] astagi commented on #60
I made a PR for the shorthand ambient module, so you won't have to include module declaration inside shims-vue.d.ts! Anyway yes, there are plans to fully support TypeScript in future

[2020-11-02 14:34] #60 closed

[2020-11-08 07:16] jtommy commented on #42
Fixed https://github.com/oruga-ui/oruga/commit/1ea97d1cfa19446f7baa4cebda67b6f3a283769c and rewriting for Vue 3 (wip)

[2020-11-08 07:16] #42 closed

[2020-11-08 07:17] jtommy commented on #39
I'm working on rewriting a different codebase for Vue 3

[2020-11-08 07:17] #39 closed

[2020-11-09 14:37] Rezvitsky commented on #46
Hello! I apologize for disturbing, but can I ask this the only use case for dropdown or are there alternatives? I don't like this approach:

`<o-dropdown aria-role="list">
					<template v-slot:trigger>
						<o-button variant="primary"  >
							<span>Click me!</span>
							<o-icon icon="caret-down"></o-icon>
						</o-button>
					</template>

					<o-dropdown-item aria-role="listitem">Action</

[2020-11-09 15:08] jtommy commented on #46
@Rezvitsky can you explain better?

[2020-11-09 15:37] Rezvitsky commented on #46
See, I like the example as in the documentation, but for some reason it refuses to work: https://gist.github.com/08a7ba6d8609c5101ac0c4b6988ce6d8

And the example given by "bzd2000" is working but I don't want to use template

[2020-11-09 15:38] jtommy commented on #46
Why don't you want to use template??

[2020-11-09 15:45] Rezvitsky commented on #46
It will be funny, but my perfectionism doesn't allow it. I can of course leave it as it is.

[2020-11-09 23:57] jtommy commented on #41
Fixed https://github.com/oruga-ui/oruga/commit/d75cb663b6322ff89e244997e8c795dfd894fd08

[2020-11-09 23:57] #41 closed

[2020-11-21 15:51] #43 closed

[2020-11-29 20:17] re2005 opened #64 "How to overwrite CSS variables"
Can someone please show me how to overwrite a variable?

For instance the $primary color ?

I'm using SCSS.

Thanks a lot!

[2020-11-29 20:21] jtommy commented on #64
https://oruga.io/documentation/#customization -> SCSS part.

Btw I'm rewriting with @astagi the internal scss part so it will be easy customize and maintain components.

[2020-11-29 20:21] #64 closed

[2020-12-05 16:11] #53 closed

[2020-12-05 16:17] #27 closed

[2020-12-11 07:32] jtommy commented on #56
The approach using an external validation is different.. take a look at https://codesandbox.io/embed/vee-validate-oruga-itp29?codemirror=1

[2020-12-11 07:32] #56 closed

[2020-12-19 09:37] alci63 opened #68 "Oruga-next should declare its types soemwhere"
### Description

When using vue-cli with Typescript, after installing oruga-next with npm, importing from '@oruga-ui/oruga-next' fails:

`Could not find a declaration file for module '@oruga-ui/oruga-next'. '/home/franck/devel/git-repositories/tethys/node_modules/@oruga-ui/oruga-next/dist/cjs/index.js' implicitly has an 'any' type.`

To work this around, I had to "provide custom typings about this

[2020-12-19 17:36] jtommy commented on #68
@alci63 thanks! We are working on a better support and probably we are going to rewrite vue 3 code using TS natively

[2021-01-07 17:21] makurtu opened #74 "[Oruga-next][Vue 3.x] AddonsClass not working on Field component"
### Overview of the problem

**Oruga-next** version: [0.2.2]
**Vuejs** version: [3.0.5]
**OS/Browser**: Chromium/Firefox

### Description

`o-field--addons` class is not added on `Field component` because of `slot` implementation on Vue3.

The problem is here:
`oruga/packages/oruga/src/components/field/Field.vue`

[code]
`this.$slots`
https://v3.vuejs.org/guide/migration/slots-unification.html

Ma

[2021-01-07 17:47] jtommy commented on #74
You are watching Vue 2 branch, you should take a look at `oruga-next` branch.
Btw we are working on new breaking release 0.3.0 and soon I'll update `next` branch 😉

[2021-01-07 17:47] #74 closed

[2021-01-08 07:04] makurtu commented on #74
I can't see `oruga-next` branch in GH, but I'm using it on my code (I installed Oruga with `yarn add @oruga-ui/oruga-next` command).

[2021-01-08 07:26] jtommy commented on #74
I meat packages https://www.github.com/oruga-ui/oruga/tree/develop/packages%2Foruga-next

It's working in progress, but probably next week will be available!!

[2021-01-08 16:23] makurtu commented on #74
@jtommy I solved this issue by changing this line: https://github.com/oruga-ui/oruga/blob/d75cb663b6322ff89e244997e8c795dfd894fd08/packages/oruga-next/src/components/field/Field.vue#L218

With this code:
[code]

Seems that no more `tag` attrib in node element.

[2021-01-13 17:33] yvza opened #75 "How to i use icons in vue 3"
### Overview of the problem

**Oruga** version: ^0.2.2
**Vuejs** version: ^3.0.0
**OS/Browser**: Sidekick Browser

### Description

### Steps to reproduce

according to docs:
https://oruga.io/components/Icon.html#examples
and
https://github.com/oruga-ui/oruga/blob/master/packages/oruga-tailwindcss/src/main.ts

its example not related with vue 3 anymore. so how i set the icons correctly in vue 3?

[2021-01-13 17:39] jtommy commented on #75
Icon components works in the same way, please add codepen or similar

[2021-01-26 22:10] #40 closed

[2021-01-26 22:16] #55 closed

[2021-01-26 22:16] #75 closed

[2021-02-02 11:24] shahriar350 opened #79 "o-datepicker donot work in nuxt module"
I just going to use this UI in my next project but date picker does not work. but other components are working well.
![1](https://user-images.githubusercontent.com/44544213/106593413-fa9de780-657a-11eb-8b67-8ad856fc41c2.PNG)
![2](https://user-images.githubusercontent.com/44544213/106593423-fd004180-657a-11eb-98ae-8896f1d5edce.PNG)
![3](https://user-images.githubusercontent.com/44544213/106593427-f

[2021-02-02 12:14] jtommy commented on #79
@shahriar350 what version are you using ? I think you're not using the last version `0.3.0`

[2021-02-02 16:32] shahriar350 commented on #79
I am using 0.2.2. I just installed new nuxt js with Oruga ui. Nuxt automatically install V.0.2.2

[2021-02-02 16:34] jtommy commented on #79
@shahriar350 we added datepicker since `0.3.0`

[2021-02-02 16:34] #79 closed

[2021-02-02 16:35] shahriar350 commented on #79
after upgrading..
![image](https://user-images.githubusercontent.com/44544213/106631324-dbb54a80-65a6-11eb-9339-723d3809c01c.png)

is nuxt module makes any problem?

[2021-02-02 16:37] jtommy commented on #79
Oruga lite CSS is now the default, you have to import `oruga.css`

[2021-02-02 16:39] shahriar350 commented on #79
![image](https://user-images.githubusercontent.com/44544213/106631897-64cc8180-65a7-11eb-8ff8-2d860f410fa4.png)
If i need to use import oruga.css then, i have to use this UI as a plugin. Is there any solution to use this in a module?

[2021-02-02 16:43] jtommy commented on #79
We forgot to update the nuxt plugin 😞
Waiting the fix you might create a plugin as described in the readme

[2021-02-02 16:45] shahriar350 commented on #79
![image](https://user-images.githubusercontent.com/44544213/106632677-38fdcb80-65a8-11eb-8a5d-20f571e9b9b4.png)
I fix this problem in @oruga-ui/oruga/nuxt/index.js to comment the whole CSS and keep this one.
Now works fine. Is this the right way to use?

[2021-02-02 17:03] shahriar350 commented on #79
![image](https://user-images.githubusercontent.com/44544213/106635154-b4607c80-65aa-11eb-9508-4d600089e4b0.png)
![image](https://user-images.githubusercontent.com/44544213/106635199-bd514e00-65aa-11eb-9a0c-6eef5d849895.png)
Is my css works? Your website's UI looks great but here, the design is changed

[2021-02-02 17:14] jtommy commented on #79
Please take a look at docs, the website uses oruga-full-vars.css.

[2021-02-02 18:53] shahriar350 opened #80 "Add multiple autocomplete (tagsinput)"
When multiple select true, to select multiple options we need to use _ctrl_ but it can better interface and In our real-life application, we need to select multiple options but here data can be vast. So here we need to use filter to search target option.
You can add this searching option in the search bar which can be a better option

[2021-02-02 19:28] jtommy commented on #80
It's the native behaviour, you might use tagsinput

[2021-02-02 19:31] jtommy commented on #80
It's the native behaviour, probably you might use tagsinput when it will be ready 😃

[2021-02-02 19:44] shahriar350 commented on #80
thank you. I like this ui because this is a very clean ui and essential pack.

[2021-02-02 20:08] jtommy commented on #79
@shahriar350 we've just released 0.3.1, so you can use nuxt module

[2021-02-03 15:46] QuentinGab opened #81 "Checkable Table do not store the row when individual row is checked"
### Overview of the problem

Just reproduce it here: https://oruga.io/components/Table.html#checkable
Browser:
- Edge: v88.0.705.56
- Chrome: v88.0.4324.104

### Description

When a single row is checked, the row is not pushed to checkedRows so it does not sync it at all (`Total checked` do not change)
However when  bulk rows are checked it works as expected.

### Steps to reproduce

Just reproduc

[2021-02-03 16:07] astagi commented on #81
Hey @QuentinGab thanks for reporting the issue! We'll check it asap and release a minfix version when fixed!

[2021-02-04 17:29] #81 closed

[2021-02-06 11:25] astagi commented on #81
@QuentinGab release 0.3.2 with this fix is now available on npm!

[code]

[2021-02-06 11:27] astagi commented on #79
@shahriar350 sorry I made a mistake referencing this issue in my older commit. Anyway release `0.3.1` and `0.3.2` are available on npm with some minfix, including this one!

[code]

[2021-02-07 20:52] lsnow99 opened #83 "Radio button not compatible with Vue 3 in oruga-next"
### Overview of the problem

**Oruga** version: [0.3.2]
**Vuejs** version: [3.0.5]
**OS/Browser**: Arch Linux / Mozilla Firefox

### Description

Radio button is not compatible with Vue 3. It emits an `input` event instead of `update:modelValue`

[2021-02-07 20:56] #83 closed

[2021-02-09 09:54] bagaskarala commented on #75
how to install the icon, because the icon doesnt show up

[2021-02-09 10:42] jtommy commented on #75
You have to import the icon pack they you prefer and configure it as you can see the icon example docs

[2021-02-10 06:51] shahriar350 commented on #79
thanks brother .

[2021-02-10 07:14] shahriar350 opened #85 "Add a WYSIWYG text editor."
A text editor is important. There are so many editors in vue but all are heavy or lightweights are not so efficient.
Text editor maybe content all like GitHub text editor and image may convert base64/upload option and importantly a table.
I see some editor like Vue2Editor but there is no support for the table.

[2021-02-10 22:39] jtommy commented on #85
I discussed about it with @astagi and probably we are going to develop it (low priority at the moment).
We are not sure if add it as "pro" components anyway.

[2021-02-10 23:09] bagaskarala opened #87 "Cant change variable using scss variable"
### Overview of the problem

**Oruga** version: [0.3.3]
**Vuejs** version: [2.6.12]
**OS/Browser**: Chrome

### Description

Cant change using scss variable

### Steps to reproduce

i'm using nuxt and import like this
[code]

then i created `index.scss` file to customize. i can do it using css variable like this:
[code]
but when i using scss variable, it wont work:
[code]

How to override style us

[2021-02-10 23:37] bagaskarala commented on #87
I've solved myself, here the step:

1. install `sass` instead `node-sass`
2. import our custom variable then import oruga scss
[code]

Is my step correctly? you should add this step to docs

[2021-02-11 06:53] jtommy commented on #87
Yes it's correct! We'll add an example in the docs

[2021-02-11 07:00] #68 closed

[2021-02-16 07:44] wrabit opened #88 "Docs site crashing?"
I'm hanging on all component pages, eventually the browser crashes (tried in chrome + safari, M1 mac)

![image](https://user-images.githubusercontent.com/5918271/108032715-31700500-7033-11eb-8e7b-a84994e02f4a.png)

[2021-02-16 07:45] wrabit commented on #88
I cleared the cookie and it was fine again.

[2021-02-16 07:45] #88 closed

[2021-02-16 14:41] NilsBWinter opened #89 "Icons are not displayed in Oruga-next version with custom Iconpack [0.3.3]"
### Overview of the problem

**Oruga** version: [0.3.3]
**Vuejs** version: [3.0.0]
**OS/Browser**:

### Description

Oruga uses default instead of custom Iconpack (working in Oruga version : 0.3.2)

A Custom Iconpack (mdi-Icons) is used.
The Icons are registered like that:

[code]

in the Vue component the icons are used like this:

`<o-icon icon="map-marker"></o-icon>`

### Steps to reproduce

1.

[2021-02-16 18:43] jtommy commented on #89
Thanks for the feedback, we'll investigate about it.
In the meanwhile can you share a codesandbox in order to reproduce it

[2021-02-17 16:17] adrianogiannacco opened #90 "Class customization/override not working in version 0.3.3 (in Nuxt)"
### Overview of the problem

**Oruga** version: [0.3.3]
**Vuejs** version: [2.6.12]
**Nuxt** version: [2.14.12]

### Description
I tried to update Oruga from version 0.2.2 to 0.3.3 but the class override features doesn't seem to work anymore.
I'm using Oruga inside a Nuxt project, and I tried both ways to import Oruga in the project: the plugin way and the module way.
At the moment I'm just doing:

[2021-02-17 21:26] #90 closed

[2021-02-17 21:50] jtommy commented on #89
Close https://github.com/oruga-ui/oruga/commit/dd5f8838db0551acec3779b439199145319cb5ee

[2021-02-17 21:50] #89 closed

[2021-02-18 16:15] andy-Owl opened #92 "oruga table subheading slot missing?"
Hello,

in buefy there was this feature that you can customize your subheading in a table via a slot.
I could not find something similar in oruga.

Have I missed something or is this not implemeted.
I really miss this feature.

I would appreciate any help.

Cheers

[2021-02-18 17:10] jtommy commented on #92
There isn't at the moment, we might add it later

[2021-02-18 18:11] andy-Owl opened #93 "table thDetailedClass not working"
Hello,

the table th detailed class is not working for me.

<o-table v-if="activeTable"
....
            detailed
            th-detailed-class="o-table__th"
/>

outcome is

<th width="40px"></th>

without any class

Any thoughts?

Cheers

[2021-02-18 21:09] jtommy commented on #93
You are right, the prop is missing

[2021-02-23 03:08] cyberfly opened #95 "Modal not showing"
On version 0.3.4, and I was using TailwindCSS on my project. No configuration, basically just install Oruga to test it

I was following Open Modal Clip Scroll

https://oruga.io/components/Modal.html#examples

But the modal is not showing. Nothing happen

When inspect the vue dev tools, the o-modal active already true

![image](https://user-images.githubusercontent.com/1756170/108797885-4c102400-75

[2021-02-23 06:42] jtommy commented on #95
Are you importing Oruga CSS?

[2021-02-26 03:42] cyberfly commented on #95
@jtommy sorry its oruga for Vue 2.

[2021-02-26 05:38] jtommy commented on #95
Can you reproduce on codepen or similar?

[2021-03-02 15:13] astagi commented on #95
@cyberfly any update on this?

[2021-03-02 21:12] astagi commented on #93
@andy-Owl I changed label from `bug` to `question` because we can't reproduce the issue, could you provide a codesandbox or some code in order to reproduce it? Thank you!

[2021-03-09 10:33] cyberfly opened #99 "How to set icon pack for Individual components (tree shaking) ?"
If we using full Oruga, we do something like this

[code]

But if we are using Individual components (tree shaking), how can we set the icon pack?

[code]

I tried this

[code]

But the `o-pag` that was auto included by `o-table`still using the Material design icon

![image](https://user-images.githubusercontent.com/1756170/110458930-4c500980-8107-11eb-89a6-90fb03baffa7.png)

[2021-03-10 02:58] cyberfly commented on #99
Solved

[code]

[2021-03-10 02:59] #99 closed

[2021-03-10 06:24] jtommy commented on #99
Yes, it's right

[2021-03-10 06:53] cyberfly opened #100 "How to overwrite scss variable"
Inside `app.js`

[code]

Inside my `app.scss`

[code]
On template

[code]

The button still using default color

Trying with this also doesnt seems to work

[code]

How to fix this?

[2021-03-10 06:56] jtommy commented on #100
You have to remove the CSS import from `app.js` and take a look at https://github.com/oruga-ui/oruga/issues/87#issuecomment-777111354

[2021-03-10 06:56] #100 closed

[2021-03-10 13:54] n3xusia opened #101 "[Oruga-next][Vue 3.x] Time is missing on DateTimePicker"
### Overview of the problem

**Oruga** version: oruga-next@0.3.5
**Vuejs** version: 3.0.7
**OS/Browser**: Windows 10 20H2 , Chrome 89.0.4389.82

### Description

When i'm using the datetimepicker, the timepicker is missing.

### Steps to reproduce
I'm using the [inline exemple](https://oruga.io/components/datetimepicker.html#inline)
This is main.ts :

[code]

### Expected behavior

To have the tim

[2021-03-11 17:49] astagi commented on #87
@bagaskarala thanks for your suggestion, these steps will be added to documentation asap!

[2021-03-11 18:04] #87 closed

[2021-03-16 07:56] wrabit opened #104 "Doc site crashing on Slider"
Happening in Chrome + Safari (Mac M1)

I have only seen it happen in the Slider area. I try a couple of the sliders, refresh and it crashes. Page becomes impossible to use.

![image](https://user-images.githubusercontent.com/5918271/111274266-180fa800-8635-11eb-986a-ba1f9bfb8783.png)

![image](https://user-images.githubusercontent.com/5918271/111274425-43929280-8635-11eb-9847-3ad12e5fc352.png)

[2021-03-17 07:36] cyberfly opened #105 "Some findings on tooltip"
Hi just want to report some issues that I found when using o-tooltip

1. The tooltip positioning is not reacted to the edge

For example, the placement is top. Usually Bootstrap tooltip will auto adjust itself to Bottom to avoid the edge

![image](https://user-images.githubusercontent.com/1756170/111430422-52f90500-8735-11eb-9520-2eb8b5368cd1.png)

------------

2. There is no variable to customiz

[2021-03-17 09:13] papyreno opened #106 "Default sort on table not working"
### Overview of the problem

**Oruga** version: 0.3.5
**Vuejs** version: 2.6.12
**OS/Browser**: Windows 10 64 bits / Chrome 87.0.4280.141 64 bits

### Description

When one sets a default sort on a table, whether as a string (`default-sort="user.first_name"`) or an array (`:default-sort="['user.first_name', 'asc']"`), this sort is not applied.

### Steps to reproduce

You can see the bug in the of

[2021-03-17 09:14] jtommy commented on #106
@papyreno oruga-next (Vue 3,) or oruga (Vue 2) ?

[2021-03-17 09:17] papyreno commented on #106
@jtommy oruga (Vue 2)

[2021-03-17 09:24] jtommy commented on #105
@cyberfly there isn't auto position feature at the moment but in your case you might use append-to-body prop.

The SCSS variable is correct, please check if something override it in your CSS (`color` attribute in `o-tip__arrow`)

[2021-03-18 05:57] cyberfly commented on #95
@jtommy is there any codepen template for Oruga UI that I can quickly spin off?

@astagi I revisit the modal after 2 weeks, and looks like the Modal only works if the `isCardModalActive` is set to true by default.

[code]

[code]

[2021-03-19 22:08] bradley-varol opened #107 "Textarea Autosize Prop"
### Description

It might be a good idea to implement automatic resizing for textareas!
Having tried several packages for this, i highly recommend the following:
https://github.com/devstark-com/vue-textarea-autosize

I am happy to implement this as a feature :)

### Why Oruga need this feature

It's a common request and is not difficult to implement. Having this as part of Orgua will save users th

[2021-03-23 06:20] lsnow99 commented on #101
Also seeing this, I am guessing it has something to do with changes to slots in Vue 3?

[2021-03-23 06:45] lsnow99 commented on #101
Made a stab at a PR, not sure if it is the correct fix however: https://github.com/oruga-ui/oruga/pull/108

[2021-03-23 07:06] #101 closed

[2021-03-23 17:24] astagi commented on #107
Sounds great @bradley-varol , thank you! I'll insert it in the backlog

[2021-03-24 07:26] jtommy commented on #95
@cyberfly yes, active prop must be true

[2021-03-24 07:26] #95 closed

[2021-03-24 07:33] bagaskarala commented on #106
in my case it still working, but the arrow doesn't show up in header at first time.
in buefy example, the arrow is shown https://buefy.org/documentation/table/#async-data

[2021-03-24 14:27] astagi commented on #107
Sorry @bradley-varol I missed this part

[code]

so you want to implement this and send a PR? That would be awesome, I can assign it to you!

[2021-03-24 23:42] astagi commented on #104
Fixed by https://github.com/oruga-ui/oruga/commit/b27b93431605177f4383838a680fbb921b7fc7e2

[2021-03-24 23:42] #104 closed

[2021-03-24 23:51] bradley-varol commented on #107
Absolutely! I'll get it done this weekend :)

[2021-03-24 23:54] astagi commented on #107
Sounds great @bradley-varol!! If you have any question let us know! (we're also active on [Discord](https://discord.gg/RuKuBYN) ✌🏻)

[2021-03-25 07:38] bagaskarala opened #109 "[bug] arrow on table header not showing when default sort applied"
### Overview of the problem

**Oruga** version: [0.3.5]
**Vuejs** version: [2.6.12]
**OS/Browser**: chrome

### Description

Sorted header doesnt showed up at first, when we use `default-sort` prop

### Steps to reproduce

Set `default-sort` on table

### Expected behavior

Sorted header work and arrow icon will showed up.

This is the reference https://buefy.org/documentation/table/#async-data.
`

[2021-03-25 07:42] jtommy commented on #109
Double https://github.com/oruga-ui/oruga/issues/106

[2021-03-25 07:42] #109 closed

[2021-03-27 23:53] astagi commented on #106
@papyreno @bagaskarala my PR should fix your issues with default sorting

[2021-03-29 09:08] bradley-varol commented on #107
Sorry, I didn't get a chance to do this over the weekend! I did take a look at the codebase - do you mind sharing briefly in which files you'd do the height maths and onInput handling for this? Usually I'd stick this in a textarea component but in this case i'd be extending the Input component. Would you suggest creating a new Mixin in utils?

[2021-03-29 10:39] jtommy commented on #107
@bradley-varol you might add all to FormElementMixin 😉

[2021-03-29 13:26] fahdaddi opened #112 "Tabs nav doesn't support scroll in mobile"
### Overview of the problem

**Oruga** version: 0.3.4
**Vuejs** version: 2.6.12
**Nuxtjs** version: 2.15.0
**OS/Browser**: MacBook Pro/Chrome

### Description

`Tabs` component doesn't support scroll in mobile

### Steps to reproduce

### Expected behavior

the tabs nav should be scrollable in mobile to select last childs

### Actual behavior

can't scroll in mobile

https://user-images.githubuser

[2021-03-29 14:25] fahdaddi opened #114 "checkbox disabled style overrides the background-image when checked"
### Overview of the problem

**Oruga** version: 0.3.4
**Vuejs** version: 2.6.12
**Nuxtjs** version: 2.15.0
**OS/Browser**: MacBook Pro/Chrome

### Description

**checkbox** `disabled` style overrides the `background-image` when checked

### Steps to reproduce

1. create checkbox component with value true
2. add the disabled prop

### Expected behavior

checked svg icon should be displayed with a g

[2021-03-29 19:54] #106 closed

[2021-03-30 07:22] astagi commented on #114
Uhm `input:disabled` is a css rule with a high specificity, it overrides Oruga defaults. @fahdaddi could you try to check your custom css and remove that rule? then try to add a class for OCheckbox when disabled using Oruga config.

[2021-03-30 10:26] fahdaddi commented on #114
just had a talk with @jtommy, it's a normalizeCss rule, I removed it.
will close this issue

[2021-03-30 10:26] #114 closed

[2021-03-31 20:51] #112 closed

[2021-04-02 03:41] lsnow99 opened #117 "UI components using this.value instead of this.modelValue in oruga-next"
### Overview of the problem

**Oruga** version: 0.3.5
**Vuejs** version: 3
**OS/Browser**: All

### Description

Some UI components still try to access `this.value` in oruga-next instead of `this.modelValue`. More information on this migration can be found [here](https://v3.vuejs.org/guide/migration/v-model.html).

### Steps to reproduce

Create an `o-slider`, and `o-radio` and use `v-model` to bi

[2021-04-02 05:00] #117 closed

[2021-04-06 12:29] mmorainville opened #119 "Missing type="button" on Tabs buttons"
### Overview of the problem

**Oruga** version: 0.3.5
**Vuejs** version: 2.x
**OS/Browser**: any

### Description

To switch tabs, Oruga use buttons without type="button" but this can cause issues when using tabs in a form. The form will be submitted everytime the user switch tabs, as by default button are from type="submit".

### Steps to reproduce

Use tabs in a form.

### Expected behavior

The

[2021-04-06 12:50] #119 closed

[2021-04-08 19:07] lsnow99 opened #121 "select-class prop ignored in oruga-next"
### Overview of the problem

**Oruga** version: 0.3.5
**Vuejs** version: 3
**OS/Browser**: Linux/Firefox

### Description

The `o-select` component is missing the `selectClass` prop. See [here](https://github.com/oruga-ui/oruga/blob/0ee2929577ddec7b990fb29012568deb9245790a/packages/oruga/src/components/select/Select.vue#L89) in `oruga` vs [here](https://github.com/oruga-ui/oruga/blob/develop/packa

[2021-04-08 19:38] #121 closed

[2021-04-14 20:28] #93 closed

[2021-05-05 16:05] jtommy commented on #80
Close https://github.com/oruga-ui/oruga/pull/91

[2021-05-05 16:05] #80 closed

[2021-05-05 21:05] lsnow99 opened #127 "Typo in rightIconClick event"
### Overview of the problem

**Oruga** version: v0.3.6
**Vuejs** version: 3
**OS/Browser**: N/A

### Description

There is a typo in oruga-next for rightIconClick in Input.vue

### Steps to reproduce

1. Use `@icon-right-click` in an `o-input` in oruga-next.

### Expected behavior

Event to trigger

### Actual behavior

Event does not trigger

[2021-05-06 05:04] #127 closed

[2021-05-16 22:35] astagi commented on #107
Hey @bradley-varol any updates on this? Let us know if you need help with this feature :)

[2021-05-17 16:07] robinsandstrom opened #136 "Horizontal fields not rendering error messages"
Horizontal fields are not rendering error messages at all in oruga@next, it's not just a css issue either but the element itself is not rendered

[2021-05-18 07:29] #136 closed

[2021-05-20 09:32] folamy opened #137 "Update on vue 3 and Documentation!"
The current components' document is targeted to vue 2! Is there Documentation for vue 3?

[2021-05-20 09:37] astagi commented on #137
Hey @folamy 👋 no, I'm sorry, Vue3 documentation is still in progress, we're working hard to make documentation available both for Vue2 and Vue3. I'll keep this issue open in order to track progresses.

[2021-05-20 09:48] folamy commented on #137
Thank you for your response! I look forward to see that.

[2021-05-23 16:41] folamy commented on #137
In light of this discussion, I want to solicit for support with ViteJs(SSR).

[2021-05-24 16:46] astagi commented on #137
Sure, we haven't tried Oruga with Vite yet! Did you have a chance to run a project combining Oruga and ViteJS?

[2021-05-24 16:49] folamy commented on #137
Yes, I tried vite SSR but there was a  bunch of error!

[2021-05-24 16:49] folamy commented on #137
Yes, I tried vite SSR but there was a  bunch of error

[2021-05-24 19:45] astagi commented on #137
ok! @folamy do you have any example with Vite you can share? so we can start from that point to fix issues

[2021-05-24 19:46] folamy commented on #137
I will share a repo here today.

[2021-05-24 19:55] astagi commented on #137
thank you very much @folamy 🙏

[2021-05-24 22:09] folamy commented on #137
Here is the demo repository:
https://github.com/folamy/viteSSR-Oruga/tree/master

A huge notice was that the base style/css is not properly applied to the components.

[2021-05-24 22:22] jtommy commented on #137
@folamy it's not an issue about vite and Oruga.
You are using oruga.css and as mentioned in the docs it contains only minimal CSS (https://oruga.io/documentation/#customization).
You should add your custom classes or integrated a CSS framework or use oruga-full.css.

[2021-05-24 22:41] folamy commented on #137
Oh, really!

[2021-05-24 22:42] folamy commented on #137
Oh, really! Lemme try that!

[2021-06-03 22:58] bobmcallan opened #142 "Uncaught (in promise) TypeError: Cannot read property 'type' of null"
I'm switching / upgrading from Vue 2 and Buefy. A key (and great) feature for n Buefy was/is the table component however I'm receiving an error with Vue 3.

**Error**
The vue warning : [Vue warn]: Unhandled error during execution of scheduler flush. This is likely a Vue internals bug. Please open an issue at...

**Console Error**
`
runtime-core.esm-bundler.js:4818 Uncaught (in promise) TypeError:

[2021-06-04 06:18] jtommy commented on #142
@coreyworrell can you share the code of table too?

[2021-06-04 08:09] bobmcallan commented on #142
If you mean the data I was using.. nothing more than the example code on the website. i.e. same data and column arrays.

This is the full page.

`
<template>

    <section class="dashboard">

        <div class="b-table">
            <o-table :data="data" :columns="columns" narrowed striped hoverable></o-table>
        </div>

        <hr />

        <span v-if="isDebug">

            <highlight t

[2021-06-04 15:38] jtommy commented on #142
@bobmcallan in the meanwhile try using `table-column` component instead of `columns` prop

[2021-06-05 04:25] bobmcallan commented on #142
Thanks that works.. in fact that was how i will implement anyways.. I'm building out a full site over the next few weeks.. happy to keep you informed of progress if that helps.

[2021-06-05 04:25] #142 closed

[2021-06-05 05:00] bobmcallan opened #143 "Input / Password Reveal"
Implementing with Bulma, does not align the reveal icon.

**logon.vue**
'
        <div class="field">

            <p class="control has-icons-right">

                <input class="input is-warning" type="password" placeholder="Password">

                <span class="icon is-small is-right">
                    <i class="fas fa-lock"></i>

                </span>

            </p>

        </div

[2021-06-05 06:13] jtommy commented on #143
I'm working on a plugin that integrates Bulma with Oruga (and some Buefy styles).
About input you cannot apply in this way the classes because the internal structure of html elements is a little different.
You can do it it in two ways:
- add your classes
- add Bulma classes on the same html element

About the last one I mean something like:

[code]
I'm very happy to see you are working in the righ

[2021-06-05 06:13] #143 closed

[2021-06-05 12:43] bobmcallan commented on #143
Thanks for the details. That's a great idea to use a function to add to the base class (or any class). I actually ended up using straight html/bulma to achieve the form as it is a fairly simple.

Happy to help, the idea/structure of oruga is great, maybe some 'cheat sheets' or as you suggested (?) having some framework specific plugins, would assist in some areas.

As I'm working through, I find t

[2021-06-05 12:47] bobmcallan opened #145 "Pagination Links"
I've loaded the 'Table' component with service side pagination. However the pagination links are marked with [disabled="false"], which results in a no link mouse over (the link works, however is there a reason the attribute is added?)

![image](https://user-images.githubusercontent.com/8773580/120892166-28418d00-c650-11eb-9b41-454301ea4fdb.png)

Is there a setting/prop I'm missing?

Manually remov

[2021-06-05 13:20] jtommy commented on #145
Yes, I already fixed it.
Available in the next release!!

[2021-06-05 13:51] bobmcallan commented on #145
Thanks.. to good.

[2021-06-05 13:51] #145 closed

[2021-06-06 11:05] bobmcallan opened #146 "[Vue warn] linkCurrentClasses -> upon Table render"
When rendering the table component, I receive a vue warning.

Vue 3.1.0-beta.7 / vite / oruga 4.1

`
[Vue warn]: Property "linkCurrentClasses" was accessed during render but is not defined on instance.
  at <OPaginationButton key=1 class="pagination-previous" linkClass= (2) ["pagination-link", {…}]  ... >
  at <OPagination icon-pack=undefined total=204 per-page=25  ... >
  at <OTablePagination cla

[2021-06-06 11:49] jtommy commented on #146
Already fixed! It's relative to pagination component.
Available in the next release

[2021-06-06 12:38] #146 closed

[2021-06-09 10:32] rubjo opened #148 "Custom icons packs: documentation on internal icons"
### Overview of the problem

**Oruga** version: 0.4.1
**Vuejs** version: 3.1.1
**OS/Browser**: macOS/Chrome

### Description

Thank you for your work on this library, it looks very promising!

For adding a custom icon pack, "close-circle" is missing from list of internal icons in documentation on
https://oruga.io/components/Icon.html#custon-icon-pack

Maybe other internal icons as well, I'm not su

[2021-06-09 20:33] jtommy commented on #148
Yes, you are right. We'll review current icon docs

[2021-06-11 12:24] dheimoz commented on #137
hey @folamy, did your experiment work?

I believe that the community will benefit from this. Vite + Oruga = MORE AWESOME.

[2021-06-12 13:13] jtommy commented on #137
@dheimoz Oruga works very well with Vite.
We are internally testing next version using it.

[2021-06-12 13:29] dheimoz commented on #137
hey @jtommy thanks for heads up.
Kudos to the team.

[2021-06-14 12:25] OskarKinomoto opened #150 "Add property for close icon in Inputitem"
### Description

Add `closeItemIcon` (or somthing like that) property to Inputitem. It will allow to change icon which is now always set as `times`.

### Why Oruga need this feature

For example Material Design Icon pack dosn't have icon named times, but event without that problem additional customization will be nice :)

[2021-06-14 14:52] jtommy commented on #150
@OskarKinomoto you are right!!
it's missing `both` prop too (an internal prop that allows to configure times icon name to your icon pack as described https://oruga.io/components/Icon.html#examples).

Waiting for the improvement you might use `selected` slot https://oruga.io/components/InputItems.html#custom-selected

[2021-06-15 05:42] OskarKinomoto commented on #150
Thanks for accepting it and for workaround (somehow I didn't saw selected slot).

[2021-06-15 06:58] jtommy commented on #150
https://github.com/oruga-ui/oruga/commit/5205c2cd9fe48458e279b981c90d4c3b32d73c81

[2021-06-15 06:58] #150 closed

[2021-06-15 08:50] bobmcallan opened #152 "Table Sort / Bulma / Mobile style"
I'm using @next and bulma, however I've not able to achieve the same style as Buefy with the mobile table sort.

![image](https://user-images.githubusercontent.com/8773580/122020560-363d9d80-ce08-11eb-892f-d500ae7a39bd.png)

vs.

![image](https://user-images.githubusercontent.com/8773580/122020678-54a39900-ce08-11eb-8066-bdd56856a426.png)

Is this possible? Oruga generates html, with a number of e

[2021-06-15 11:36] jtommy commented on #152
@bobmcallan we are working on Bulma integration as you can see https://github.com/oruga-ui/oruga-bulma

Probably the Buefy style has to edited in order to work well with Oruga as I did with other components (steps).

At this point we came discuss about in the other repository.

[2021-06-15 11:36] #152 closed

[2021-06-16 05:58] OskarKinomoto opened #153 "Used wrong css variable for tooltip color"
### Overview of the problem

**Oruga** version: 0.4.2
**Vuejs** version: 2.6.14
**OS/Browser**:

### Description

`.o-tip__content` class incorectly uses same css variable for both color and background `--oruga-tooltip-background-color`

![obraz](https://user-images.githubusercontent.com/4709922/122165061-f57d6d00-ce77-11eb-8bc0-3191239c7353.png)

I assume same problem can happen with scss variabl

[2021-06-16 06:06] OskarKinomoto opened #154 "Using / for division is deprecated in Dart Sass"
### Overview of the problem

**Oruga** version: 0.4.2

### Description

Using `/` as divider in scss files is now deprecated (sass since 1.33.0 version).

More info: https://sass-lang.com/documentation/breaking-changes/slash-div

### Steps to reproduce

Compile scss files with sass 1.33.0 or newer

### Expected behavior

Clean compile

### Actual behavior

Deprecation warnings in log

[2021-06-16 14:39] jtommy commented on #153
You are right, please make a PR ;)

[2021-06-18 06:36] #153 closed

[2021-06-18 07:04] #148 closed

[2021-06-18 08:04] OskarKinomoto opened #157 "[Vue3] Adding new data to table produces an error"
### Overview of the problem

**Oruga** version: 0.4.2
**Vuejs** version: 3.1.1
**OS/Browser**:

### Description

Adding new data to table produces an error

### Steps to reproduce

https://codesandbox.io/s/blissful-allen-3w04s

### Expected behavior

New row appears

### Actual behavior

Exception is thrown

[2021-06-18 08:22] jtommy commented on #157
It's an issue with Vue 3 version and so in the next version we don't support `columns `prop.

You might change your code to:

[code]

[2021-06-18 08:41] Batuhan1337 opened #158 "Warning at opening modal with this.$oruga.modal.open()"
### Overview of the problem

**Oruga** version: [0.4.2] (oruga-next)
**Vuejs** version: [3.0.5]
**OS/Browser**:  Google Chrome 91.0.4472.106 (64-Bit)

### Description
When I opened a component with this.$oruga.modal() a warning is shown.

[code]
[code]

### Expected behavior
No warning

### Actual behavior
Workaround:
[code]

A possible fix could be to set the events prop in Modal.vue to a default

[2021-06-18 08:46] OskarKinomoto commented on #157
Thank you, it solves all my problems with tables :)

[2021-06-18 08:50] jtommy commented on #158
Thanks a lot, luckily it is only a warning but we'll fix it

[2021-06-18 08:51] #157 closed

[2021-06-19 08:40] #154 closed

[2021-06-19 08:42] #158 closed

[2021-06-22 09:14] OskarKinomoto opened #159 "Distribute scss files in oruga-next builds"
### Description

Distribute scss files in oruga-next builds

### Why Oruga need this feature

Now using oruga with Vue 3 and wanting to use scss files as style source one must use both `oruga` and `oruga-next` packages

[2021-06-22 14:02] astagi commented on #159
Sure @OskarKinomoto you're right, at the moment scss files are missing in the package, sorry for that! I'll fix it asap!

[2021-06-24 11:23] OskarKinomoto opened #160 "Outlined disabled button has on hover style"
### Overview of the problem

**Oruga** version: 0.4.2
**Vuejs** version: 3.1.1
**OS/Browser**:

### Description

Outlined disabled button has on hover style or is it a feature?

### Steps to reproduce

```<o-button outlined disabled> Outlined </o-button>```

Default state:
![obraz](https://user-images.githubusercontent.com/4709922/123254341-d5405480-d4ee-11eb-83d2-d7d3ecb96d1b.png)

On hover:
![ob

[2021-06-25 05:57] OskarKinomoto opened #161 "[Vue 3] Slider sets 0 to model on mounting"
### Overview of the problem

**Oruga** version: 0.4.2
**Vuejs** version: 3.1.1
**OS/Browser**:

### Description

Slider resets value on initialization (mounting or something)

### Steps to reproduce

[code]

### Expected behavior

Model value stays as initialized

### Actual behavior

Value is set to 0

[2021-06-25 06:57] jtommy commented on #161
Already fixed! https://github.com/oruga-ui/oruga/commit/a4670ffdec39a1a8109e2a1a7fe53c91b2892f36

[2021-06-25 06:57] #161 closed

[2021-06-25 15:24] mat813 opened #162 "Tabs should make the button tag optional for tabitems"
### Description

Tabs should make the button tag optional for tabitems.

### Why Oruga need this feature

Right now, there is no way to change the default tag, even when using the header slot.
Some css frameworks, like, say, Bulma, are much more cute when using a `a` tag instead.

[2021-06-25 16:45] jtommy commented on #162
Why do you need `a` element?

[2021-06-26 06:33] #160 closed

[2021-07-08 12:00] pmerienne opened #167 "Add a carousel component"
### Description
Carousels are quite used in many website.
Here's some link and screenshots of carousels found in some popular library :

**Boostrap**
https://getbootstrap.com/docs/4.0/components/carousel/
![boostrap](https://user-images.githubusercontent.com/739495/124917106-ba440900-dff3-11eb-9a5e-246951f13339.png)

**Bulma (with a special lib)**
https://bulma-carousel.onrender.com/
![bulma](http

[2021-07-08 12:18] jtommy commented on #167
Sure, probably it will be the same of https://buefy.org/documentation/carousel

[2021-07-08 16:30] cimchd opened #168 "Vue3 "provide" and / or composable for programmatic usage"
### Description

With Vue 2 Options-API programmatic usage of oruga was possible with a global $-instance (this.$oruga). In Vue 3 in combination with Composition-API the provide/inject pattern and / or some composables would be better.

### Why Oruga need this feature

Using the Composition-API a lot of code has no access to the this-context of the component. Therefore the $oruga-instance is not a

[2021-07-08 17:14] jtommy commented on #168
@cimchd can you make an example?
Btw there is in plan to rewrite using composition API but I don't think it's a mandatory way given that Vue 3 support options API too

[2021-07-08 17:31] cimchd commented on #168
Sure, here is an example:

**OptionsAPI:**
[code]

**CompositionAPI:**
[code]

**CompositionAPI with povide/inject:**
[code]

**CompositionAPI with composable:**
[code]

I found a working solution with a named import of ModalProgrammatic for the modal. But I would prefer one of the solutions above.

[2021-07-08 17:44] jtommy commented on #168
Do you want to make a PR about it?

[2021-07-08 18:27] coreyworrell commented on #167
@jtommy I think you may have meant to tag someone else here?

[2021-07-08 19:35] jtommy commented on #167
@coreyworrell i'm sorry 😸

Yes I meant @pmerienne

[2021-07-08 20:23] cimchd commented on #168
Sure, just give me some time... :-)

[2021-07-08 21:23] cimchd commented on #168
If this is ok for you, it was just a one-liner. I reused the `$oruga` instance in `app.config.globalProperties` for provide.

[2021-07-08 21:30] #168 closed

[2021-07-08 21:32] jtommy commented on #168
Great!!
And what about programmatically components https://github.com/oruga-ui/oruga/blob/f7456e215c413b6b9ab79c8053e53b84f7712157/packages/oruga-next/src/components/notification/index.ts#L56?

[2021-07-09 06:15] cimchd commented on #168
This would need the described reafctoring of the registerComponentProgrammatic function. Something like this?
[code]

[2021-07-09 06:33] jtommy commented on #168
It looks correct

[2021-07-09 06:39] cimchd commented on #168
Should I make another PR or is it better to wait for your rewrite using composition API?

[2021-07-21 11:05] pmerienne commented on #167
Hi @jtommy
https://buefy.org/documentation/carousel/ is exactly what I have in mind.

[2021-07-21 14:46] mscalessio opened #172 "`allowDuplicates` check not work when `createItem` function is passed as a prop"
Hi there,
as mentioned in the title the `allowDuplicates` check doesn't work when custom `createItem` function is passed.

https://github.com/oruga-ui/oruga/blob/e1cd63bc4f17657c56ac520b0a7ac54236a87f13/packages/oruga/src/components/inputitems/Inputitems.vue#L364

You should changes this line
[code]

to

[code]

in order to check the same format of the object pushed into the array.

Hope this can

[2021-07-21 16:37] jtommy commented on #172
Good catch!
Do you want to submit a PR?

[2021-07-27 08:35] adrianogiannacco opened #173 "Button component styles not working on Safari if tag is router-link/nuxt-link"
Hello,
when using the Button component, I found out that the attribute `type="button"` stays on the anchor tag even if the specified tag is a `router-link`, or a `nuxt-link` (in case you're on Nuxt JS).
The presence of this attribute causes troubles with the style of the anchor tag on Safari.

I think that a change could be done on line 170 of the Button component, changing this:

[code]

to this:

[2021-07-27 08:39] jtommy commented on #173
@adrianogiannacco you're right, probably we should invert the condition to

[code]

[2021-08-01 07:36] #173 closed

[2021-08-03 20:28] lsnow99 opened #174 "Modal overlay sometimes lingers after modal is closed quickly"
### Overview of the problem
Sometimes when using a modal, the overlay continues to cover the page, even after the modal is closed. Most frequently seems to occur if the modal is quickly closed after opening.

**Oruga** version: 0.4.3
**Vuejs** version: 3.1.5
**OS/Browser**: Linux/Firefox

### Description

The page no longer responds to clicks in some cases if the modal is closed to quickly.

### S

[2021-08-07 08:34] miladmeidanshahi opened #176 "RTL support"
### Description
Most popular UI frameworks nowadays support RTL.

### Why Oruga need this feature

Because Oruga will save RTL users and i think oruga has potential to grow up fast.

[2021-08-08 05:36] jtommy commented on #176
@miladmeidanshahi you should be able to do it by yourself. Are there some things to change in the default style CSS (lite) ?

[2021-08-09 19:51] astagi commented on #174
Hi @lsnow99 I'm not able to reproduce your issue as you can see in the following screen recording

https://user-images.githubusercontent.com/537363/128765584-d96c89cf-caae-4eab-a473-f9f6b56dc76d.mov

Could you please share your code or deploy it somewhere in order to test it?

[2021-08-09 23:11] astagi commented on #162
@mat813 PR #177 should satisfy your request

[2021-08-09 23:16] astagi commented on #172
Hi @mscalessio thanks for this! I'd like to include this fix in the next release, do you prefer to submit a PR or I'll include your fix in the code by myself?

[2021-08-09 23:22] astagi opened #178 "Some minor bugs on Steps"
- steps: doesn't apply variant prop of step-item (nuxt ?)
- steps: first animation wrong when navigation is custom using v-model

[2021-08-09 23:22] astagi opened #179 "Notification: weird animation/effect"
Weird animation/effect adding multiple notification in the same place  one by one

[2021-08-09 23:23] astagi opened #180 "Button component: add missing iconRightClass and iconLeftClass properties"
Issue reported by @wellbrained

[2021-08-10 09:13] #180 closed

[2021-08-10 12:21] #162 closed

[2021-08-10 12:22] astagi commented on #159
@OskarKinomoto this feature will be released in the next version

[2021-08-10 12:22] #159 closed

[2021-08-12 08:24] astagi commented on #172
@mscalessio I'm going to release a new version, I added this line by myself. Thank you for your contribution!

[2021-08-12 08:24] #172 closed

[2021-08-28 11:46] sambedingfield opened #184 "Filter classes, rather than add or override them individually"
I found myself in a position where I love the Oruga functionality and depth of components, but I didn't want to add anymore CSS or SCSS to my app (I already have base styles and animations), and I just wanted to include the components as truly naked! 👀

I was planning on using Oruga's override method so that I can use my own CSS naming methodology, but I then had to write hundreds of lines of code

[2021-08-29 10:06] jtommy commented on #184
@sambedingfield the Oruga's scope is to allow you an easy way to style a component without knowing the structure of itself (HTML tags) and to help you to do it, as you can see in the docs, there is an **Inspector** for each component.

- Of course, you'll be lucky customizing a simple component (button, input) but looking forward to dropdown, datepicker?
- Are you sure that your "base style" is co

[2021-08-31 10:23] sambedingfield commented on #184
@jtommy my intent was to simply wrap each premade Oruga component in a Vue file, so that I could then include any additional functionality and _all_ dependant styles within that single file. Those files then sit neatly beside my custom ones too, so that I can lazy load and configure them per project.

I understand that isn't the original intent of Oruga, but it has worked very well for me and havi

[2021-08-31 22:08] jtommy commented on #184
@sambedingfield Although we don't understand well your approach and the advantage we are going to add that feature in the core code because we really appreciate your energy and motivation.
We'll add a filter method global and for each component but probably we won't use "filter" as name, any hints?

[2021-09-01 14:29] sambedingfield commented on #184
How about `metamorphosis`? 😂

Maybe `classFilter` or something?

I did start to think what would happen if instead of introducing a new variable, you could just pass a function to `override` instead of a Boolean? Or is that a bad idea?

[2021-09-03 15:28] astagi commented on #184
@sambedingfield allowing `override` to support functions might lead users to confusion, `override` is used to remove or keep default Oruga's classes, `metamorphosis` function (it sounds cool 😁 ) should allow users to rename applied classes.

[2021-09-09 21:03] astagi commented on #179
A slide effect needs to be added

[2021-09-09 21:23] astagi commented on #178
It happens only if you increment your v-model

[2021-09-09 21:23] #174 closed

[2021-09-09 21:31] astagi opened #189 "Custom notification with a component with dependencies doesn't work"
### Overview of the problem

**Oruga** version: [0.4.X]
**Vuejs** version: [2.X.X]
**OS/Browser**: All

### Description

If you instantiate a component that customizes notifications, it doesn't load all dependencies (ie $i18n)

### Steps to reproduce

1. Customize a notification with a component that has dependencies
2. Fire notification programmatically

### Expected behavior

Custom notification

[2021-09-09 22:05] #178 closed

[2021-09-09 22:27] #179 closed

[2021-09-12 21:27] ymebrugts opened #190 "Fast clicking breaks modal"
https://github.com/oruga-ui/oruga/issues/174

See video below

**Overview of the problem**
Sometimes when using a modal, the overlay continues to cover the page, even after the modal is closed. Most frequently seems to occur if the modal is quickly closed after opening.

Oruga version: 0.4.4
Vuejs version: 3.2.11
OS/Browser: Windows/Chrome

**Description**
The page no longer responds to clicks in

[2021-09-13 09:57] neon64 opened #191 "disabled="false" html attr breaks `.button[disabled]` selector"
### Overview of the problem

**Oruga-Next** version: 0.4.4
**Vuejs** version: 3.2.8
**OS/Browser**: Firefox 92 on Linux

### Description

As can be seen in this code, the `<o-button>` component passes the `disabled` prop onto the underlying element.

https://github.com/oruga-ui/oruga/blob/180e8b0515205cbf8f926d9cbcc5051ee225f8d4/packages/oruga-next/src/components/button/Button.vue#L2-L8

This inte

[2021-09-13 12:08] jtommy commented on #191
@neon64 you are right, there is something different between Vue 2 and Vue 3 because the same code generates a different DOM. In the first case it doesn't add the attribute disabled when value is false.
I'll take a look in order to set undefined value when is false or check if is a common issue/change on Vue 3.

[2021-09-13 17:44] jtommy commented on #191
https://v3.vuejs.org/guide/migration/attribute-coercion.html#overview

[2021-09-14 16:18] jtommy commented on #189
It works, only missing `parent: this` in the example

[2021-09-14 16:18] #189 closed

[2021-09-14 16:22] jtommy commented on #190
@ymebrugts oruga or oruga-next (vue 3) ?

[2021-09-14 16:53] ymebrugts commented on #190
Oruga next because I use Vue3

[2021-09-14 22:19] #191 closed

[2021-09-15 07:11] #190 closed

[2021-09-16 12:40] Code-Hell opened #192 "Formatting DateTime objects on the table component"
Hello there!

I'm using the table component to display products data, which has some date fields. Oruga is great and suits my needs very well.

**Before Oruga**, these objects used to be formatted on demand using a method (using Luxon 2.0.2):
`formattedDate(date) {return DateTime.fromISO(date).toFormat("HH:mm dd/MM/yy")}`
And displayed on the template like this:
`<td>{{ formattedDate(product.creat

[2021-09-16 13:00] astagi commented on #184
@sambedingfield #193 implements your request, please check it out and let me know 😃

[2021-09-16 13:23] astagi commented on #192
hey @Code-Hell really happy to hear that you like Oruga! [Async-data example in Table documentation](https://oruga.io/components/table.html#async-data) may help you, it formats date fields for the column "Release date".

Hope it helps! Let me know

[2021-09-16 13:24] astagi commented on #176
@miladmeidanshahi any update?

[2021-09-16 14:40] Code-Hell commented on #192
I changed from the [Base example ](https://oruga.io/components/table.html#base) syntax to your example and solved my issue.

Thank you very much @astagi!

[2021-09-16 14:40] #192 closed

[2021-09-16 14:43] astagi commented on #192
Sounds great @Code-Hell 🙌

Happy coding with Oruga 🐛

[2021-09-16 22:18] #184 closed

[2021-09-23 11:58] #176 closed

[2021-09-28 11:47] mouadTaoussi opened #197 "HOW CAN I RUN THE PROJECT LOCALLY?"
### Description

When I cloned the project last month, I cannot figure out how to run it locally in my computer.
the docs should include the steps to run it successfully.
### Why Oruga need this feature

To allow new contributors integrate into the project.

[2021-09-28 11:50] jtommy commented on #197
@mouadTaoussi https://github.com/oruga-ui/oruga/blob/develop/.github/CONTRIBUTING.md

Thanks for the future contributions 😉

[2021-09-28 11:50] #197 closed

[2021-09-28 12:01] mouadTaoussi commented on #197
Thanks!

[2021-10-05 06:17] #92 closed

[2021-10-05 20:56] sockenklaus opened #202 "Add MonthPicker to DatePicker"
### Description

Extend the DatePicker component and enable MonthPicker mode.
A beautiful example is the DatePicker component of Buefy and since Oruga inherits from Buefy it should be easy to implement 🐛

https://buefy.org/documentation/datepicker#month-picker

### Why Oruga need this feature

It's a component that's widely used on websites and libraries like Buefy and Vuetify already have it.

[2021-10-06 13:02] szymboro opened #203 "Add Datepicker in Table"
### Description

Here you can see empty space, imo this will increase overall functionality for table component

![image](https://user-images.githubusercontent.com/20754781/136207016-f1b7647c-c32c-40fa-8fcf-5c647fb8b736.png)

### Why Oruga need this feature

It is kinda weird that it has separate components for table, search field and datepicker but it does not show in table

[2021-10-06 16:49] marcmayans opened #204 "Oruga + Bulma import error"
Hi, I'm trying to import Oruga and Bulma in my main scss file. When I'm doing that some Bulma classes are broken:

`@import '~@oruga-ui/oruga/src/scss/oruga-full';
@import '~bulma/sass/utilities/_all';`

And when I'm importing Bulma first and Oruga later, like this:

`@import '~bulma/sass/utilities/_all';
@import '~@oruga-ui/oruga/src/scss/oruga-full';`

I'm getting the following error:

![SassErr

[2021-10-06 16:51] #203 closed

[2021-10-07 07:41] #204 closed

[2021-10-07 20:51] jtommy opened #205 "Feature: add types for programmatic components"
Add types for programmatic components:

- Loading
- Modal
- Notification

[2021-10-10 22:28] #107 closed

[2021-10-12 03:41] neon64 opened #206 "App already provides property with key "oruga". It will be overwritten with the new value."
### Overview of the problem

**Oruga** version: Oruga-Next v0.4.5
**Vuejs** version: 3.2.20
**OS/Browser**: Firefox on Linux, or through Vue Test Utils v2.0.0

### Description

### Steps to reproduce

1. load Oruga into app using `Vue.use(Oruga)` or inside tests using:

[code]

2. A warning should be emitted

### Expected behavior

No warnings from loading Oruga into a Vue.js application

### Actu

[2021-10-12 06:12] jtommy commented on #206
You are right, there is a duplicated "provide"

Just fixed: https://github.com/oruga-ui/oruga/commit/ded8c6db45f8f3960606241d7672397111872a9a

[2021-10-12 06:12] #206 closed

[2021-10-12 11:31] olufemioyedepo commented on #142
could you please update the docs if anything property has been deprecated. the official doc encourages the use of **columns** prop

[2021-10-12 13:46] hugohabicht01 opened #207 "Can't get autocomplete component to work"
### Overview of the problem

**Oruga** version: ^0.4.5
**Vuejs** version: ^3.2.16
**OS/Browser**: Mac OS Big Sur / Brave

### Description

I just tried to get the autocomplete component working and it wouldn't display any suggestions as well as log a bunch of warnings in the console. To narrow down the issue I tried the same with the example code from the documentation in a newly generated vitejs

[2021-10-12 16:08] jtommy commented on #207
They are only warnings and we fixed it right now (available in the next release).
I checked your project and there is an error, you have to use `<template #empty>`.

[2021-10-12 16:08] #207 closed, assigned to nobody

[2021-10-12 18:40] jtommy commented on #207
The docs works with Vue 2 at the moment.
There is already an issue to update it.

[2021-10-14 03:00] neon64 opened #208 "footer[0] is undefined in <o-table>"
Hi, I've encountered another error in `oruga-next` which I believe should be a simple bugfix.

### Overview of the problem

**Oruga** version: 0.4.5
**Vuejs** version: 3
**OS/Browser**: Firefox on Linux

### Description

In Vue 3, the syntax for retrieving slots has changed: https://v3.vuejs.org/guide/migration/slots-unification.html#_3-x-syntax

I have encountered one part of `oruga-next` which h

[2021-10-14 07:47] loutfina opened #209 "Icon not displayed on any components (Table, Button) with oruga-next and Vue3"
### Overview of the problem

**Oruga** version: [0.4.5]
**Vuejs** version: [3.0.0]
**OS/Browser**: Chrome

### Description

I use @oruga/oruga-next with my Vue3 project. I use the components Table, Button and Icon. With Icon and pack  it works (<o-icon pack="fas" icon="power-off" /> --> display icon power-off) but none of theinternal icons appear ...nor Icon inside a button doesn't appears (<o-but

[2021-10-14 08:19] mouadTaoussi commented on #205
@jtommy Nice! I'm gonna start work on **Oruga** Framework after PR one in buefy

[2021-10-14 08:31] astagi commented on #205
@mouadTaoussi are you going to take care of this task? in that case I can assign it to you

[2021-10-14 08:45] astagi commented on #205
Any help would be really appreciated :) feel free to work on that and increment your PRs collection for #hacktoberfest 🎃

[2021-10-14 09:00] mouadTaoussi commented on #205
@astagi Thanks for the assignment and for any future Help!
I might ask you If I found something weird, because it's gonna be my first contribution 😁

[2021-10-14 11:01] mouadTaoussi opened #210 "[Feature Request]: Colors Palette are not cool for the framework"
### Description
Dark colors are not good for the Framework since many of them are using light colors for attractiveness and good UI look (Excluding Primary)

### Why Oruga need this feature
a good color palette might attracts you to use a UI Framework

Here are the chosen color palettes (variants **danger-warning-success-info** are ordered **respectively**)
**Note:** You can create your own palett

[2021-10-14 12:43] mouadTaoussi commented on #210
@jtommy in my opinion in the scope would be better, **many of the components would looks cool**, and when the developer use it with no need to touch variables.
he can change them by him color palette

[2021-10-14 17:20] jtommy commented on #210
Ok, let us see your palette and we'll think to add it

[2021-10-14 17:23] jtommy commented on #205
@mouadTaoussi did you read https://github.com/oruga-ui/oruga/blob/develop/.github/CONTRIBUTING.md?

I meant types like https://github.com/buefy/buefy/tree/dev/types

[2021-10-14 20:21] mouadTaoussi commented on #210
@jtommy  I'm gonna find good variants for (success-danger-info-warning)

[2021-10-15 21:29] mouadTaoussi commented on #205
@jtommy  How you run it locally ?

[2021-10-15 21:43] jtommy commented on #205
You should try it on your local project with TS

[2021-10-15 22:33] modularcoder commented on #206
@jtommy thanks! This warning was polluting my jest test a lot! Looking forward to the new release! :)

[2021-10-15 22:36] jtommy commented on #206
@modularcoder hey mate, happy to know you are using it 😉

[2021-10-15 22:40] jtommy commented on #209
Looking your code you are not setting FontAwesome component into Oruga config https://oruga.io/components/Icon.html#custom-icon-component

[2021-10-15 22:40] #209 closed

[2021-10-17 11:43] pac0rro opened #213 "Documentation error for CDN"
Hi all.

First: awesome UI library for Vue!!! Congratulations.

Documentation says that oruga script and css is located at these CDN URLs:

[code]

However the links are broken.

Its possible to use https://oruga.io/cdn/oruga.js but it seems like the Vue2 version.

Is there any valid URL for Vue3 Oruga CSS and JS?

Regards.

[2021-10-17 12:04] jtommy commented on #213
@pac0rro thanks a lot 😃

[2021-10-17 12:07] #213 closed

[2021-10-21 10:17] laszlo-kasa opened #216 "Cannot override class using multiple classes when append-to-body is set"
### Overview of the problem

**Oruga** version: 0.4.6
**Vuejs** version: 2.6.14
**OS/Browser**: both WSL Ubuntu 20.04 and github CI

### Description

I'm converting a buefy project to oruga, found a config in the [oruga-bulma](https://github.com/oruga-ui/oruga-bulma/blob/master/src/plugins/oruga.ts) repo that should insert buefy classes but it fails for multiple classes. Also tried returning array

[2021-10-21 18:24] laszlo-kasa commented on #216
it happens when `append-to-body` is set

[2021-10-22 05:51] #216 closed, assigned to nobody

[2021-10-24 08:45] #205 closed, assigned to mouadTaoussi

[2021-10-24 13:20] #210 closed, assigned to nobody

[2021-10-25 12:48] themodernpk opened #220 "How to configure `oruga-next` with `Nuxt 3`?"
How to configure `oruga-next` with `Nuxt 3`?

[2021-10-25 15:58] mouadTaoussi opened #221 "[Feature Request]: Adding Type definitions for Autocomplete; Button; Checkbox"
### Description
Add Types for:
- Autocomplete
- Button
- Checkbox

### Why Oruga need this feature
For catch errors before compile

[2021-10-26 11:24] #221 closed, assigned to nobody

[2021-10-28 17:39] mouadTaoussi opened #225 "Add Dialog Component"
### Description
Adding Dialog Component .

### Why Oruga need this feature
Easiest way to propmt or alert the user

**Note:I Might take time becuase I have a Display issue in my Laptop that needs to be fixed first, then work on the feature!**

[2021-10-29 20:13] MaTTze opened #226 "Comments in horizontal fields render empty inner fields"
### Overview of the problem

**Oruga** version: oruga-next@0.4.6
**Vuejs** version: 3.2.20
**OS/Browser**:

### Description

A html-comment in a horizontal field leads to an additional empty inner field.
![grafik](https://user-images.githubusercontent.com/4118302/139496029-dac09f6e-64dc-47f4-89f8-a141b5884ccb.png)
I think this came with commit 5338da4.
My local fix is a `if (element.type.descripti

[2021-10-29 20:16] jtommy commented on #226
Good catch, we have to find a better way to skip comment like Vue 2

[2021-10-30 06:53] jcs224 opened #227 "Add event for modal fully opening"
### Description

When opening a modal, fire an event that states the modal is completely open and the open animation has completed. The following is a screenshot of my ultimate desired behavior. Note the auto-focus after modal is loaded.

![Dockertron example](https://raw.githubusercontent.com/jcs224/dockertron/master/promo/dockertron.gif)

### Why Oruga need this feature

For example, in the case

[2021-10-30 06:59] jtommy commented on #227
Why don't you set the focus using onMounted hook on your form component?

[2021-10-30 08:03] jcs224 commented on #227
Just tried those things, now it works, thanks.

[2021-10-30 08:03] #227 closed

[2021-10-31 14:58] tanhs opened #228 "o-input search box icon overlap placeholder"
### Overview of the problem

**Oruga** version: [0.4.6]
**Vuejs** version: [3.2.20]
**OS/Browser**: Firefox 93.0

input search box icon overlap placeholder

### Steps to reproduce

[code]

### Expected behavior

1.  Search icon should not overlap placeholder

### Actual behavior

The search icon is overlapping the placeholder
picture attached.
--
![Screen Shot 10-31-21 at 10 56 PM](https://user-im

[2021-10-31 16:34] jtommy commented on #228
The default oruga.css is really minimal so you have manage padding as you prefer, check out https://oruga.io/documentation/#examples

[2021-10-31 16:34] #228 closed

[2021-10-31 22:29] jtommy commented on #85
I agree with @rubjo and the linked project looks really good 😉

[2021-10-31 22:29] #85 closed

[2021-11-05 09:18] rubjo opened #231 "Center icon in .o-notification__close"
### Suggestion

Horizontally and vertically center notification close button.

From:
<img width="125" alt="Skjermbilde 2021-11-05 kl  10 16 21" src="https://user-images.githubusercontent.com/42270947/140487173-891df84f-4f69-4cbf-a46c-0df5f7f5cfe8.png">
[code]

To:
<img width="125" alt="Skjermbilde 2021-11-05 kl  10 16 00" src="https://user-images.githubusercontent.com/42270947/140487195-bd6d1429-4

[2021-11-05 09:19] jtommy commented on #231
@rubjo sure, you can make a PR!

[2021-11-05 09:43] #231 closed

[2021-11-06 06:41] tanhs opened #233 "Modal doesn't cover full screen and can't reopen"
### Overview of the problem

**Oruga** version: [0.4.6]
**Vuejs** version: [3.2.20]
**OS/Browser**: Firefox 93.0

### Description
1.  Modal dialog not over the full screen
2.  Upon opening the dialog, Close doesn't change the prop "active" doesn't change to "false"

### Steps to reproduce
App.vue
[code]
MenuMain
[code]

### Expected behavior

1.  Modal dialog should cover full screen including the

[2021-11-06 12:33] jtommy commented on #233
@tanhs can you reproduce on codepen or similar?
Are you using oruga.css?

[2021-11-06 15:06] tanhs commented on #233
I am using oruga-full-vars.css
I tried to get the Oruga works in codepen but failed, may be I not something right.
The codes are almost there.
https://codepen.io/tan-hai-shi/pen/jOLzwXe

[2021-11-06 20:01] jtommy commented on #233
Where is the modal?
Try to codesandbox because on codepen you can't write in this way

[2021-11-06 22:56] #226 closed

[2021-11-07 01:52] tanhs commented on #233
https://codesandbox.io/s/magical-mountain-uwrtk?file=/src/components/MainMenu.vue

[2021-11-07 06:47] jtommy commented on #233
@tanhs i don't understand well, where is the modal?
Anyway a quick hint: import oruga css before bootstrap CSS as described in the docs 😉 (it will be helpful during components customisation)

[2021-11-07 12:57] tanhs commented on #233
https://codesandbox.io/s/magical-mountain-uwrtk?file=/src/components/MainMenu.vue
Sorry, the changes are not saved.
1.  Click "Open Modal2" it open the Modal but I can still click on "Link" dropdown from menu
2.  I click any place to close the Modal, I click again on "Open Modal2" it doesn't open anymore
![Screen Shot 11-07-21 at 08 54 PM](https://user-images.githubusercontent.com/1995229/14064578

[2021-11-07 14:33] jtommy commented on #233
You cannot use `.sync` because it has been removed in Vue 3, you have to use `v-model:active`

[2021-11-07 14:33] #233 closed

[2021-11-09 22:56] agm1984 commented on #99
I solved it simply by setting `iconPack: 'fas'` in the options.

Here is my main.js:

[code]

index.html
[code]

It sets the correct classes:
![image](https://user-images.githubusercontent.com/17655219/141018744-78010a64-825e-4f12-9010-f08f7902b46a.png)

[2021-11-10 10:21] kadlinobit opened #237 "Add programmatic Notification"
### Description

Adding NotificationProgrammatic export to Oruga, so notifications can be triggered from outside the Vue instance (such as from Vuex store).

### Why Oruga need this feature

There are already programmatic exports for Loading and Modal components.
It would be handy to also have a programmatic Notification.

### Current workaround for Vuex
At the moment, Notification can be triggere

[2021-11-12 08:58] kadlinobit commented on #237
Just a note - I have checked the Notification component code and there already is the `NotificationProgrammatic` export, so I guess it's just missing in the Oruga index.js file.

[2021-11-12 11:21] #237 closed

[2021-11-12 22:01] amir20 opened #240 "Exception when using Orgua Modal with composition API"
### Overview of the problem

**Oruga** version: [0.4.7] (oruga-next)
**Vuejs** version: [3.2.21]
**OS/Browser**:

### Description

When using Oruga Modal API, I get the following exception:

[code]

### Steps to reproduce

[code]

Some debugging showed that `this.$refs.dropdown` is null.

<img width="667" alt="Screen Shot 2021-11-12 at 1 57 23 PM" src="https://user-images.githubusercontent.com/260

[2021-11-13 07:13] jtommy commented on #240
Really strange that skips the first if condition, btw I think it happens when parent components is destroyed.

[2021-11-13 14:23] amir20 commented on #240
If condition is checking for undefined though. Not null.

[2021-11-13 14:44] jtommy commented on #240
You can fix it with a PR 😉

[2021-11-13 23:53] MaTTze opened #241 "Steps: wrong transition direction"
### Overview of the problem

**Oruga** version: all
**Vuejs** version: all
**OS/Browser**:

### Description

The step content always transitions from right to left ever when clicking "prev".

### Steps to reproduce

Navigate through the steps in the Steps-Documentation/example

### Expected behavior

The step content transitions from right to left ever when clicking "next" and from left to right w

[2021-11-13 23:54] MaTTze commented on #241
I can prepare a PR if you want.

[2021-11-14 07:40] jtommy commented on #241
Sure, thanks!

[2021-11-14 19:22] #241 closed

[2021-11-15 18:40] amir20 commented on #240
I use `pnpm` for my project and am having a hard time try use `pnpm link`. Hopefully I can figure it out today.

[2021-11-15 20:04] amir20 commented on #240
I did confirm the bug does work and no errors are thrown.

[2021-11-15 21:21] #240 closed

[2021-11-15 21:26] amir20 opened #244 "Will there be support for radio buttons?"
I really liked [radio buttons](https://buefy.org/documentation/radio/#radio-button) from Buefy. But doesn't look like this is supported.

Is this something Oruga can have to be feature parity with buefy.

[2021-11-15 21:51] jtommy commented on #244
No, at the moment we won't support a similar component due too specific for the library purpose.

[2021-11-15 21:51] #244 closed

[2021-11-17 10:29] reskes opened #245 "Tab type is not applied correctly"
### Overview of the problem

**Oruga** version: 0.4.7
**Vuejs** version: 3.0.0 (Using TypeScript)
**OS/Browser**: Chromium

### Description

The "Tab type"-prop and also config value seems to be ignored. It always shows the default type.

### Steps to reproduce

Create Tabs with "Tab type"-prop set to "toggle" or "boxed"
[code]

### Expected behavior

Should have Look&Feel of Tab type "toggle" or

[2021-11-17 11:37] jtommy commented on #245
@reskes what CSS are you using?
The default oruga.css is minimal and doesn't contain all types

[2021-11-17 13:08] reskes commented on #245
I'm using this one: `oruga-next/dist/oruga-full.css`

[2021-11-17 23:22] #245 closed

[2021-11-18 09:25] Pablolgn opened #247 "Error on register component when try to test"
### Overview of the problem

**Oruga** version: [0.4.6]
**Vuejs** version: [3.2.13]
**Jest** version: [27.1.0]
**OS/Browser**: Ubuntu

### Description

I get this error when testing files with oruga components. I tried test a component whit only a o-button and fails.

![oruga_bug](https://user-images.githubusercontent.com/36844424/142386589-d231c75a-a9ea-43d7-95fb-ff4b1fa38e35.png)

### Steps to r

[2021-11-18 16:01] jtommy commented on #247
Can you share with us more code?
Keep in mind that the library exports Plugin using "treeshaking" way.

[2021-11-21 20:19] reskes commented on #245
@jtommy Thank you for the very quick response.
For me the latest fix didn't solve the issue.

Maybe I'm doing something wrong?
Here is an excerpt from my code:
`<o-tabs v-model="activeTab" type="toggle">
      <o-tab-item v-for="tab in tabs" :key="tab.id" :label="tab.title" :value="tab.id">
        <span >{{tab.helpText}}</span>
      </o-tab-item>
    </o-tabs>`

[2021-11-22 11:38] Pablolgn commented on #247
https://codesandbox.io/s/blissful-bartik-qzcl5

This is an example of the error

**Steps to reproduce**
1. Open new terminal
2. `yarn jest --config tests/jest.config.js HelloWorld.spec.ts`

[2021-11-22 12:29] jtommy commented on #247
@Pablolgn Your component uses Oruga so you have to init it in your test file.
Probably there are several ways to do it, you can check https://next.vue-test-utils.vuejs.org/migration/#no-more-createlocalvue.

For example:

[code]

[2021-11-22 12:29] #247 closed

[2021-11-24 11:17] jtommy commented on #245
@reskes Just tested and it works with `oruga-full.css` theme

[2021-11-24 16:37] reskes opened #248 "TypeError: this.$slots.default is not a function on tabs"
### Overview of the problem

**Oruga** version: 0.4.8 (oruga-next)
**Vuejs** version: 3.0.0
**OS/Browser**: any

TypeScript, oruga-ui/theme-bulma

### Description

The tabs component from the documentation produces an error, if tab-item left empty (without any children as in the example).

### Steps to reproduce

Use it like this:
`<o-tabs type="toggle">
      <o-tab-item label="Pictures" icon="im

[2021-11-24 16:45] reskes commented on #245
I'm trying it out from scratch and have still the issues.

` <o-tabs type="toggle">
     <o-tab-item label="Pictures">
        <div></div>
      </o-tab-item>
      <o-tab-item label="Music">
        <div></div>
      </o-tab-item>
      <o-tab-item label="Videos">
        <div></div>
      </o-tab-item>
    </o-tabs>`

Becomes this:

`<div class="b-tabs" data-v-326520ca=""><nav class="tabs"><div

[2021-11-24 17:13] jtommy commented on #245
You are using Bulma theme, can you open an issue into the other repository?
It might be related to Bulma config and not Oruga internal code

[2021-11-25 19:30] dami2 commented on #105
@cyberfly  I had the same issue with the arrow color using oruga with tailwindcss.

Looks like the arrow color is affected by the **border-top-color** property which is in fact modified by tailwind.

![Screenshot_20211125_143338](https://user-images.githubusercontent.com/271794/143492946-622cf9cd-bc58-4403-bfe2-07a98966b1cb.png)

To fix it, I had to set it manually on my overrides:

[code]

[2021-11-26 14:10] NathanVG commented on #75
I am having the same issue, and it is not clear to me from the docs what I should import and where.

[2021-11-26 14:20] jtommy commented on #75
@NathanVG it depends on icon pack that you need

[2021-11-26 14:21] NathanVG commented on #75
I just want to use the default mdi icons, do I need to install it and add it to my vue app in main?

[2021-11-26 14:30] jtommy commented on #75
@NathanVG yes

[2021-11-26 14:44] NathanVG commented on #75
What am I doing wrong here, because it's still not working.

[code]

[code]

[2021-11-26 15:15] jtommy commented on #75
@NathanVG you are using FontAwesome and not mdi. Anyway icon-right is the original icon name ->` icon-right="fa-caret-down"`

[2021-11-26 16:20] NathanVG commented on #75
Yes I changed it because I thought the issue was with mdi. It's still not working though, am I missing an import somewhere or something?

[2021-11-26 16:37] jtommy commented on #75
@NathanVG plese provide your code using codesandbox

[2021-11-26 17:08] #248 closed

[2021-11-26 17:09] jtommy commented on #105
@dami2 I don't understand, can you reproduce it on codepen/codesandbox?

[2021-11-27 11:26] jtommy commented on #245
@reskes just released a new version of bulma theme that fix it ;)

[2021-11-27 12:12] reskes commented on #245
@jtommy
Thanks. I will check it out as soon as possible.
Did wrote a small CSS-hack as quick'n'dirty-fix and was looking forward to have some  time to look into the source of the issue.
I'm happy you got it fixed in the meantime :)

[2021-11-29 20:21] amir20 opened #249 "Oruga-next with Vue3 doesn't work with up/down keys after searching"
### Overview of the problem

**Oruga** version: `@oruga-ui/oruga-next 0.4.8`
**Vuejs** version:  `vue 3.2.22`
**OS/Browser**: Chrome 96

### Description

When using the `autocomplete` component, I am not able to use the up/down keys _after_ searching.

See video...

https://user-images.githubusercontent.com/260667/143936997-1fcb5081-89c7-4777-9791-738f9fdcba5e.mov

### Steps to reproduce

1. Start

[2021-11-29 20:58] jtommy commented on #249
@coreyworrell I'll investigate about it

[2021-11-29 23:11] jtommy commented on #249
At the moment it works well but the only one problem is about scrolling options that I just fixed 3461ef489b3f0a5d009f0c0c9d0ae38655fa1b6f; maybe it could related to your issue

[2021-11-29 23:11] #249 closed

[2021-11-29 23:17] coreyworrell commented on #249
@jtommy I keep getting pinged in this repo and I'm not sure why :smile:

[2021-11-29 23:32] amir20 commented on #249
@jtommy what do you mean it works well? Were you able to reproduce the issue?

[2021-11-30 07:35] jtommy commented on #249
@amir20 can you reproduce on codepen or similar? So I'll try my fix if are able to reproduce it

[2021-11-30 17:38] amir20 commented on #249
@jtommy I tried to figure out how to use codepen with orgua-next and vue3. But all the examples in the documentation were with vue2. If you have an example with _any_ component, then I can try again to use the auto complete component. Otherwise, I think it should be easily reproducible. Thanks.

[2021-11-30 18:37] jtommy commented on #249
@amir20 https://codesandbox.io/s/silly-sun-u7ron?file=/src/App.vue

It's a sample from Discord server

[2021-11-30 21:35] amir20 commented on #249
Thanks. It helped. I wasn't able to reproduce my exact issue. Which is confusing. I may need your help. After much debugging, it seems like the object that is passed to `setHover` or `selected` is a proxy. But the data is just a regular array which is why the hover css class never shows up.

I'll have to keep investigating.

[2021-11-30 21:38] jtommy commented on #249
Ok, anyway I fixed a bug about scroll navigation using arrow keys

[2021-12-01 03:59] amir20 commented on #249
@jtommy I fixed it. To be honest, I have no idea why. Looks I was affected by the proxy equality as explained here in the vue [documentation](https://v3.vuejs.org/guide/reactivity.html#proxy-vs-original-identity).

This makes no sense. But I wrapped all my objects with `.map((i) => reactive(i))` using vue's reactive function and everything started working. See https://github.com/amir20/dozzle/comm

[2021-12-05 18:18] #167 closed

[2021-12-05 22:31] jtommy commented on #249
It's very strange but it's a Vue 3 issue, I don't think to change something in my part

[2021-12-07 23:26] #202 closed

[2021-12-11 18:14] phenix-factory opened #251 "Variant doesn't work when the o-field has multiple element inside"
It happen on the documentation https://oruga.io/components/Field.html#examples
The search element is inside a variant="danger" but doesn't have danger style.

[2021-12-12 19:27] dami2 commented on #105
Here is the code sandbox: https://codesandbox.io/s/orugaui-tooltip-t9020

Some clarifications to be fair, I'm not sure if this is the case @cyberfly was reporting:

- I'm using oruga module in nuxt
- I'm using tailiwind in nuxt with the comunity module (https://github.com/nuxt-community/tailwindcss-module)
- The override of border-top-color only affects the tooltip on position = top (default)

tha

[2021-12-12 19:37] jtommy commented on #105
Check https://github.com/oruga-ui/oruga/blob/5e02268c7f9c3972a857063f14f28bb0cfbad762/packages/oruga/src/scss/components/_tooltip.scss#L20.
As you can see the border depends on position and you should override or add a new class for each position

[2021-12-13 09:48] laszlo-kasa opened #252 "inputitems' dropdown gets smaller as items are added"
### Overview of the problem

**Oruga** version: 0.4.8
**Vuejs** version: 2.6.14
**OS/Browser**: WIN11/chrome  96.0.4664.93

### Description

the input's size gets narrower as more tags are added, which is [synced to the dropdown's width after every click](https://github.com/oruga-ui/oruga/blob/5e02268c7f9c3972a857063f14f28bb0cfbad762/packages/oruga/src/components/autocomplete/Autocomplete.vue#L774

[2021-12-13 21:58] #251 closed

[2021-12-17 18:24] ymgsmz opened #255 "RTL input status icon issue"
### Overview of the problem

**Oruga** version: [0.4.8]
**Vuejs** version: [3.2]
**OS/Browser**: Any

### Description

Regarding https://github.com/oruga-ui/oruga/blob/develop/packages/oruga-next/src/components/input/Input.vue#L206,
the library only uses the right icon for setting the status icon which leads to an issue when the RTL direction is settled.

Please check screenshot:
<img width="301"

[2021-12-17 19:27] jtommy commented on #255
@ymgsmz in my opinion you can support RTL by CSS using text-align: right, and invert padding-right with padding-left on input and icon right position:
For example:

[code]

![image](https://user-images.githubusercontent.com/8029488/146597481-86000b18-5348-421a-92d2-0335259c389c.png)

[2021-12-17 23:03] ymgsmz commented on #255
@jtommy Are you sure it not going to have overlap with the left icon?

[2021-12-18 07:44] jtommy commented on #255
It's only an example, you have to move ok right the left icon too and probably other things

[2021-12-20 09:06] ymgsmz commented on #255
Yeah, that's right, this approach is what I personally take for most UI frameworks while working in the RTL direction 😃, or like this case, I disable the cause of the issue because it was unnecessary.

But I wonder if any plan to fix it in Oruga?

[2021-12-20 09:10] jtommy commented on #255
What do you mean with "fix it"?
We can add a RTL theme but nothing to change in the core code.
Probably you can help us 😉

[2021-12-20 09:59] ymgsmz commented on #255
We may allow developers to define which side they prefer to show the status icon in the core code, it would also end with another customization option which I think is worth having.

Not sure I get time, but of course I love to contribute
will try.

[2021-12-20 10:04] jtommy commented on #255
It's no a issue only about status icon, all components have to change alignment/position.

[2021-12-20 10:24] ymgsmz commented on #255
What do you think if we make CSS changes only in [bulma theme](https://github.com/oruga-ui/theme-bulma) since it supports RTL?

[2021-12-20 17:55] agm1984 opened #256 "How to show a toast using Vue 3 syntax?"
I have an app using Vue 3, Vite, and `<script setup>` syntax.

I don't have access to `this.$oruga`, so how can I launch a toast message programmatically?

[2021-12-20 18:00] jtommy commented on #256
https://github.com/oruga-ui/oruga/issues/168#issuecomment-876618049

[2021-12-20 18:06] jtommy commented on #255
https://github.com/jgthms/bulma/releases/tag/0.9.0

Bulma already supports RTL

[2021-12-20 18:17] agm1984 commented on #256
Thanks for your help. I achieved success via #168 .

I did this:

[code]

If anyone finds this later, note that I destructured `oruga` off of the `useProgrammatic()` because it returns an object with `addProgrammatic` and `oruga` keys on it.

[2021-12-20 18:17] #256 closed

[2021-12-20 18:32] jtommy commented on #256
Yes, it was the initial concept but we changed later.
I'm sorry I hope to release Vue 3 docs soon!

[2021-12-20 18:33] agm1984 commented on #256
You're doing great work, thanks for everything.

[2021-12-21 00:57] birdlavv opened #257 "Datepicker 'multiple' prop not working in Vue 3"
### Overview of the problem

**Oruga** version: `0.4.8`
**Vuejs** version: `3.2.26`
**OS/Browser**:

### Description

### Steps to reproduce

Reproduction URL: https://stackblitz.com/edit/vue-8txzgm?file=src/App.vue

Open the Datepicker and try to select multiple dates.

### Expected behavior

Expected to be able to select multiple dates like the vue 2 'multiple' prop demo:
https://oruga.io/compon

[2021-12-22 07:14] diwic commented on #75
In case it helps anyone, this is working for me (with font awesome + vue 2) :

[code]

By using `dom.watch`,   `fontawesome-svg-core` automatically translates oruga's `i` tag to `svg`. I'm not sure how to make this work with mdi though.

[2021-12-22 07:28] jtommy commented on #75
@diwic ok, good solution. Also you can use Vue Font Awesome component and define it in the global config

[2021-12-22 11:29] laszlo-kasa commented on #252
if someone's looking for a workaround adding `flex-basis: 100% !important;` to the autocomplete input works.

[2021-12-22 11:42] diwic commented on #75
@jtommy So I think what's missing from the docs is the quickest and/or best way to get mdi up and running. I'm not sure whether to import `@mdi/js`, `@mdi/svg`, `vue-material-design-icons`, or something else?

[2021-12-22 11:48] jtommy commented on #252
@laszlo-kasa Good catch! Anyway I'll think about a definitive fix

[2021-12-22 11:49] jtommy commented on #75
You can create a your component that wraps the icon pack that you prefer

[2021-12-22 21:41] Thaurin commented on #225
Yes, I need this before I can finish migrating to Oruga!

[2021-12-23 00:25] #255 closed

[2021-12-23 19:48] Thaurin commented on #225
This is literally keeping me from migrating a Vue 2 web application that is in production to Vue 3 with Oruga with Bulma plugin, then Vue 3!

[2021-12-23 19:51] jtommy commented on #225
I got it, in the next release will be available the carousel.
There is a PR but incomplete and I need time to add Oruga features

[2021-12-27 13:59] sambedingfield commented on #105
I've also had the need for an auto position on Tooltips, however that can quickly get complex and I can see why it would be out of scope.

It might be a good idea to trigger an event on tooltips when they open (active). We could then add our own functionality to check if they're off-screen etc.

[2021-12-27 14:23] jtommy commented on #105
It's an interesting feature, we'll schedule it surely

[2021-12-28 09:56] Pablolgn commented on #75
The answer of diwic work for me if i pass the pack fas to o-icon, but on other components like notification, the pack default is mdi.

[2021-12-28 12:11] jtommy commented on #75
@Pablolgn can you reproduce on codesandbox?

[2021-12-28 15:04] Pablolgn commented on #75
https://codesandbox.io/s/determined-tree-0w3no?file=/src/main.ts

[2021-12-29 09:00] diwic commented on #75
@Pablolgn Have you specified `iconPack="fas"` on the notification component?

[2021-12-29 09:07] Pablolgn commented on #75
Oh it's true, I didn't see it, Thx.
But there is no way to set it by default in all components

[2021-12-29 09:26] diwic commented on #75
@Pablolgn According to the [source code](https://github.com/oruga-ui/oruga/blob/develop/packages/oruga/src/components/notification/Notification.vue#L13) it seems like `iconPack` controls the closeIcon as well.

[2021-12-29 09:34] Pablolgn commented on #75
@diwic Im probing and close icon is still `class="mdi mdi-times"`

[2021-12-29 11:08] jtommy commented on #75
@Pablolgn you have to import Vue Font awesome component and add it to you Vue instance

[2021-12-29 11:17] Pablolgn commented on #75
I just try and still nothing change

`import { createApp } from 'vue'

import '@oruga-ui/oruga-next/dist/oruga-full.css'
import Oruga from '@oruga-ui/oruga-next'

import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { fas } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import App from './App.vue'
import './styles/index.s

[2021-12-29 17:50] #257 closed

[2021-12-30 11:07] k0mar12 commented on #220
1. `npm install @oruga-ui/oruga-next --save`
2. Create **/plugins/oruga.client.js**

[code]

[2021-12-30 12:46] flavionn opened #259 "Proper way to use Oruga on Nuxt Edge with script setup"
Hello! How do i use oruga on Nuxt Edge with script setup? I have to use Oruga or Oruga next?

Using the instructions in Oruga documentation and importing as module works for me, but i want to use this programatic on script setup function.

How can i achieve this?

[2021-12-30 13:04] jtommy commented on #259
Oruga (Vue 2) is not composition oriented but you can import programmatic component and use it.
For example:

[code]

[2021-12-30 13:17] #259 closed

[2021-12-30 15:02] flavionn opened #260 "useRouter undefined when using in modal"
I have this in my component:

[code]

and this in ModalRegister.vue

[code]

Im getting router "undefined" when i use useRouter inside modal component.

[2021-12-30 15:45] jtommy commented on #260
The problem is `parent: this`.
It's mandatory it but `this` is not correct, you should use `getCurrentInstance` but I don't know if Vue 2 composition api exports it

[2021-12-30 20:24] themodernpk commented on #220
@k0mar12 I am getting the following error by using your code (I am using fresh install of `Nuxt 3`):

[code]

[2021-12-31 02:59] flavionn commented on #260
this should work?

[code]

i dont know what to put in parent property

[2021-12-31 06:29] jtommy commented on #260
If it exists I think `parent: getCurrentInstance()`

[2021-12-31 07:55] k0mar12 commented on #220
@themodernpk ERROR happens, i belive, coz ur are not using <ClientOnly> in nuxt, so while it trying to rendering on server side you get exception.

_Failed to resolve component: o-button_ - The problem on the Oruga side

[2021-12-31 08:00] jtommy commented on #220
@k0mar12 Oruga side? Oruga works well on Nuxt 2 and the next version is really similar to it.

[2021-12-31 08:05] themodernpk commented on #220
@jtommy & @k0mar12 I am trying to use `oruga-next` in `nuxt 3`.

Plugin code `plugins/oruga.client.js`:
[code]
Page code `paegs/index.vue`:
[code]

Getting the following results:
[code]

[2021-12-31 08:21] k0mar12 commented on #220
Dismiss mistakes, sry, not this error problem on oruga side, vue warn will probably on oruga side, which asking next @themodernpk

[2021-12-31 08:33] k0mar12 commented on #220
@themodernpk @jtommy

I got it. Im sry, the problem could be in nuxt 3 :)

@themodernpk  U should run Oruga on both side in Nuxt 3.

I mean, remove `.client.js` from file name and dont use `<ClientOnly> ` and it will works fine

[2021-12-31 09:46] themodernpk commented on #220
This is for those who would like to use `oruga-next` with `nuxt 3`.

Step 1: Create `plugins/oruga.js` files with following code:
[code]

Step 2: Remove `app.vue` from the root  and create a page at `pages/index.vue` with following code:
[code]

Step 3: Import scss in `nuxt.config.ts`:

[code]

Now, you're good to go.

[2021-12-31 09:46] #220 closed

[2022-01-04 22:33] jtommy commented on #260
@flavionn any news?

[2022-01-06 22:21] #260 closed

[2022-01-08 00:31] D4RKAR117 opened #263 "Improve typescript support for vue 3 (oruga-next)"
### Description

Currently oruga has a very basic typescript support, provided by [this](https://github.com/oruga-ui/oruga/blob/208dd47e88002fb6f9cc55f6d194bb9f8f84eb13/packages/oruga-next/types/index.d.ts#L1) unique line, this only avoids that IDE's and typescript diagnostics trigger errors.

### Posible start point
To provide a more complete and native typescript support can be used `vue-tsc` to

[2022-01-08 05:18] lsnow99 opened #264 "event is undefined in o-carousel"
### Overview of the problem

Cannot use Vue router links inside `o-carousel-item` components.

**Oruga** version: 0.5.0
**Vuejs** version: 3.2.26
**OS/Browser**: Linux/Firefox

### Description

When using custom components for the carousel component,

### Steps to reproduce

1. Add a o-carousel component
2. Add o-carousel-item components as children
3. Add a router-link component within them that

[2022-01-08 07:43] jtommy commented on #263
It's an important feature in our roadmap, I'll take a look at your link.

[2022-01-08 11:27] astagi commented on #264
@lsnow99 thank you for reporting this issue! [This](https://github.com/oruga-ui/oruga/pull/265) fix should solve problems you're experiencing.

[2022-01-08 12:01] #264 closed

[2022-01-08 12:10] jtommy commented on #264
@lsnow99 as workaround can you try to use `@click.stop` on `router-link`

[2022-01-08 18:42] karoletrych opened #266 "Time isn't visible in timepicker input after selecting time"
**Oruga** version: @oruga-ui/oruga-next: 0.4.8
**Vuejs** version: 3.2.26
**OS/Browser**: Windows 10/Firefox 95

### Description
[code]
### Expected behavior
There should be value filled instead of "Click to select..."
### Actual behavior
![obraz](https://user-images.githubusercontent.com/17528710/148655825-e780d828-d49d-4175-81c9-3a3c1365163c.png)

[2022-01-09 04:52] lsnow99 commented on #264
Thank you @astagi for the quick fix! @jtommy that workaround did not work interestingly.

[2022-01-09 10:47] astagi commented on #264
YW @lsnow99 I think that a min release is needed, will provide it asap

[2022-01-09 16:42] #266 closed

[2022-01-10 11:31] astagi commented on #266
@karoletrych 0.5.2 released!

[2022-01-10 11:31] astagi commented on #264
@lsnow99  0.5.2 released!

[2022-01-16 15:38] eamtalu opened #271 "Oruga Column Draggable in o-table"
### Description

ColumnDraggable Feature like buefy b-table

### Why Oruga need this feature

Oruga is a great lightweight framework and it would be nice if oruga o-table contains columndraggable feature like buefy b-table.

Thanks.

[2022-01-16 16:04] jtommy commented on #271
@eamtalu what feature do you mean?

[2022-01-16 16:29] eamtalu commented on #271
hi @jtommy
Thanks for your quick reply. I have been using oruga since past few months in production. Then to satisfy one of the requirements which is columndragging for o-table, I can see the event is not supportable or working as like buefy b-table "draggable-column". Only draggable for row is working.

# Draggable rows/columns
Use draggable/draggable-column prop to allow rows and columns to be d

[2022-01-16 16:31] jtommy commented on #271
Sure, I'll add it soon.

[2022-01-16 18:01] eamtalu commented on #271
Thank you @jtommy, I appreciate your great support.

[2022-01-18 14:30] athimel opened #272 "Time picker missing in Datetimepicker"
### Overview of the problem

**Oruga** version: [0.5.*]
**Vuejs** version: [3.2.26]
**OS/Browser**: Firefox 96 & Chromium 90 on Linux Mint 20.3 (64-bit)

### Description

The time picker is not visible under the date picker on Datetimepicker.

I have been testing with Oruga 0.5.0, 0.5.1 and 0.5.2, the issue is always present.
I downgraded Oruga to 0.4.8, the issue is not present.

### Steps to rep

[2022-01-19 11:51] diwic commented on #75
Hi,

It seems like one needs to create a custom component to interface oruga with mdi. So I've made a quick example to show how this can work. The repository is here: https://github.com/diwic/oruga-mdi-example

And here's the most relevant piece of code (main.js)

[code]

One then needs to point oruga to this component, e g like this:

[code]

[2022-01-19 18:23] #272 closed

[2022-01-19 20:47] jtommy commented on #75
@diwic in the future we might create a new package/repository as add-on with custom icon components 😃  A concept similar to theme-bulma

[2022-01-19 20:52] dsciamma commented on #75
Would it be possible to have a example how to use mdi icons with Oruga in Nuxt?

[2022-01-19 20:53] jtommy commented on #75
@dsciamma same way of above example

[2022-01-19 21:01] dsciamma commented on #75
OK. Sorry, I though it would be more direct.

[2022-01-19 21:05] jtommy commented on #75
@dsciamma it depends.. using CSS icon pack you should be already ready as is

[2022-01-20 06:54] cimchd opened #275 "Future of Oruga Vue3 only?"
First of all @jtommy and @astagi you are doing a great job. I really love the idea of Oruga and we are already using oruga-next in our first projects.

We see still a lot of essential things to improve in Oruga (typescript support, 100% esm compatible exports) and we are also willing to help with some prs but we already decided not to do it sometimes because of the vue2 repo.
It is a great thing t

[2022-01-20 08:51] athimel commented on #272
Thanks a lot for being so reactive!

[2022-01-20 18:40] jtommy commented on #275
@cimchd your point is correct and we agree with you on everything 😉
In our roadmap there are features to develop only for Vue 3, such as new docs and types (https://github.com/oruga-ui/oruga/pull/270).

Nuxt is close to release a stable version and probably it's time for the Oruga to focus the efforts in the same direction.

Any advices about Oruga "promotion" are welcome and of course we are happ

[2022-01-21 10:23] cimchd commented on #275
Thanks for the quick response. This is great news. :-)

[2022-01-21 10:23] #275 closed

[2022-01-24 18:42] mouadTaoussi opened #278 "[Feature Request]: Hover on the First element in autocomplete"
The first element from autocomplete results should be selected automatically,
most of the time the user selects the first element when typing the exact word so he hit `Enter` instead of clicking `down key` then `Enter`

![image](https://user-images.githubusercontent.com/50294614/150844212-ba018c9f-5312-4023-b287-5f72face034c.png)
![image](https://user-images.githubusercontent.com/50294614/15084427

[2022-01-24 19:24] jtommy commented on #278
There is already `keep-first` prop 😉

[2022-01-24 19:24] #278 closed

[2022-01-24 20:05] mouadTaoussi commented on #278
OK , I should read the docs again 😁

[2022-01-26 15:07] eamtalu commented on #271
Hi @jtommy ,
I hope you are keeping well. Just a follow up, if you had any chance to work with this feature ? Never mind, if you did not have, in case if it is possible for you when you probably you would be able to add it ?

Thanks a lot.

[2022-01-26 19:42] jtommy commented on #271
Probably before the end of week 😉

[2022-01-27 17:31] eamtalu commented on #271
Wow, that would be a great help @jtommy. Can not thanks enough. Love Oruga.

[2022-01-27 19:16] dwhoop55 opened #279 "Modals with full-screen prop not opening full screen"
### Overview of the problem

**Oruga** version: 0.5.2
**Vuejs** version: 2.6.14
**OS/Browser**: Chrome, Version 97.0.4692.99 (Offizieller Build) (arm64)

### Description

When opening a modal with the fullScreen prop the model is not opened in full screen. This is true for inline and programmatic modals

### Steps to reproduce

Inline a modal, give it the active and full-screen attributes:
[code]

[2022-01-27 20:06] #279 closed

[2022-01-28 08:33] #271 closed

[2022-01-28 09:49] eamtalu commented on #271
Hi @jtommy, Thanks a million for your great help and salute to you for supporting the community, specially the developer/learner like me relying more on opensource. Thanks Man.

[2022-01-28 15:12] eamtalu commented on #271
Hi @jtommy, currently my oruga version is "@oruga-ui/oruga": "^0.5.2",

should I run: # npm update @oruga-ui/oruga to get this feature ? Thanks

[2022-01-28 17:17] jtommy commented on #271
I have to release the 0.5.3, i think max tomorrow

[2022-01-28 20:58] xxSkyy opened #281 "Nuxt3 Support"
I've just found today Oruga and it's like best feature fulfill I'd imagine for tailwind/windi and I'd like to work with it, I'm working on vue 3 nuxt bridge and mostly Nuxt3. I tried to integrate it with Nuxt3 but no luck.
Are there a plan to support Nuxt3 and if so when is the estimated date?

Edit: I've seen roadmap and see it's planned so just asking about +/- when?

[2022-01-28 21:51] jtommy commented on #281
What version are you using?

[2022-01-29 15:04] xxSkyy commented on #281
I've checked again and it partly works, yday I just checked first examples and this ones don't work in nuxt3

First or second collapse code just don't work

[code]

shows error

[code]

but many of rest components works, I just copy pasted it but code looks fine

[2022-01-29 15:06] jtommy commented on #281
The code in the docs works well ok Vue 2.
For Vue 3, you should change slot declaration, for example wrap button into <template #trigger>

[2022-01-29 15:06] #281 closed

[2022-01-29 15:06] xxSkyy opened #282 "Vite warning"
Using oruga in Nuxt3 and Vite (I don't know if on i.e. vue3+vite but probably also) shows warning each compile in dev console

[code]

It'd be great if it could be fixed

[2022-01-29 15:09] xxSkyy commented on #281
Yup I see it, thanks

[2022-01-29 21:11] eamtalu commented on #271
Hi @jtommy, you are a legend. Thank you and I wish you all the happiness.....

[2022-01-29 22:24] joel-wenzel opened #283 "Dropdown Hover doesn't keep panel open while hovering"
### Overview of the problem

When setting the trigger of o-dropdown to hover, the dropdown will only remain open while the trigger is hovered (not the dropdown content).

**Oruga** version: 0.5.3
**Vuejs** version: 3.0.0
**OS/Browser**: Chrome

### Steps to reproduce

1. Hover the drop down button
2. Move the mouse to the now shown dropdown content

The content disappears

### Expected behavior

T

[2022-01-31 20:54] #282 closed

[2022-01-31 22:20] #283 closed

[2022-02-02 00:18] marcosgomesneto opened #284 "Dropdown: Add active state in default slot scope"
### Description

I would like to access the dropdown state (isActive) inside the default slot. For the trigger slot, this already exists.
This is very useful when you need to customize this slot.

### Why Oruga need this feature

This is the objective of Oruga, which is to be able to customize the components.

[2022-02-02 07:26] jtommy commented on #284
@marcosgomesneto The trigger slot already shares `active` prop 😉

[2022-02-02 07:27] jtommy commented on #284
Why do you need it? When the slot is visible then active is true

[2022-02-03 11:14] GiorgioJuniors opened #285 "Cannot use appendToBody in Dropdown"
### Overview of the problem

**Oruga** version: [0.5.3]
**Nuxtjs** version: [2.15.8]

### Description
i try to use the prop `append-to-body` in a o-dropdown but if i override the oruga classes with my custom, there is an error:
### Steps to reproduce
here the codesandbox : https://codesandbox.io/s/intelligent-murdock-t2zrc

### Expected behavior

using the prop

### Actual behavior

throw this err

[2022-02-05 10:12] SuperCuber opened #287 "Documentation lacking: Using icons"
### Description

I've read the "Setup" section on `oruga.io`, which explains how to install oruga and its css.
Then I went to use a `$oruga.notification.open` which worked successfully but there was no `X` icon, just a circle.
I looked around the getting started section  and there's no mention of how to install icons.
I looked around `Icon` section and tried to guess based on the custom examples w

[2022-02-05 13:48] jtommy commented on #287
@SuperCuber do you have suggestions? Can you make a PR to improve the docs?

Thanks

[2022-02-05 13:52] SuperCuber commented on #287
@jtommy Hard to make a PR when I still don't know how to install the icons :P
I think the two places I would expect this to be in is either in an additional section in [Introduction](https://oruga.io/documentation/#setup), or in the [Icon base example](https://oruga.io/components/Icon.html#examples)

[2022-02-05 13:55] jtommy commented on #287
What's icon pack do you need?

[2022-02-05 13:56] SuperCuber commented on #287
Any one really, I see the popular ones are fontawesome and material design, the default (in the docs for example) is material design I suppose?

[2022-02-05 20:32] jtommy commented on #287
Then you have to import CSS font and it's ready

[2022-02-06 10:21] SuperCuber commented on #287
@jtommy do you mean https://www.npmjs.com/package/@mdi/font ? because a simple `import "@mdi/font"` results in an error...

[2022-02-06 10:28] SuperCuber commented on #287
OK based on https://dev.materialdesignicons.com/getting-started/webfont I tried doing `import '@mdi/font/css/materialdesignicons.min.css'` but this gives me an error in the browser console:

[code]

[2022-02-06 10:33] SuperCuber commented on #287
In addition, the getting started page recommends using [vue icon](https://dev.materialdesignicons.com/getting-started/vuejs) instead..?

[2022-02-06 10:59] jtommy commented on #287
For example `<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">`

[2022-02-06 11:21] SuperCuber commented on #287
@jtommy  The icon close icon on the notification still doesn't show. Upon further investigation with style editor, looks like `mdi-times` icon does not exist in that link's files? Changing the class to something else like `mdi-crosshair` shows an icon. I tried with version `@6.5.95` of the link but it still doesn't show it...

[2022-02-06 12:45] SuperCuber commented on #287
I'm using `"@oruga-ui/oruga-next": "^0.5.3"` btw. If there's more info I can provide then tell me :)

[2022-02-06 19:33] adrianhand opened #288 "Cannot change o-table data source after initial binding "Unhandled error during execution of scheduler flush""
**Oruga** version: [0.5.3]
**Vuejs** version: [3.2.29]
**OS/Browser**: OS X/Safari 15.3

### Description

Here is a very simple expansion upon the first o-table example in the official docs. An o-table is bound to the array called 'data' and everything works as expected. Subsequently (upon button click) the value assigned to 'data' is changed which fails with "Unhandled error during execution of s

[2022-02-06 22:49] jtommy commented on #288
Can you try without columns prop but using `table-column` components.

[2022-02-06 23:11] adrianhand commented on #288
That did it! Problem solved jtommy thank you! What's going on under the hood there do you think? I find the due error not the most helpful. Was this a stab in the dark or do you have an inkling?

[2022-02-07 08:12] jtommy commented on #288
It's no supported at the moment. I'll try to find a solution otherwise I remove the prop 😞

[2022-02-07 08:12] #288 closed

[2022-02-07 08:55] adrianhand commented on #288
Thank you friend - this apart I am having a great time with Oruga. It does exactly what it promises and holistically is exactly how I like to write certain apps, providing all the functionality I need free of opinions about how they should look. Coming from a vuetify background it is hard work to fight how it thinks things should look, but its a breeze to tail Oruga to my visual use case.

[2022-02-07 13:16] jtommy commented on #288
Thanks it's one of the target of the library.
Please share your work (screen or other) in the official Discord server 😉

[2022-02-08 15:53] adrianogiannacco commented on #285
Any updates on this?

[2022-02-09 21:59] #285 closed

[2022-02-09 22:00] jtommy commented on #287
@jtommy the docs use font awesome and font-awesome vue component

[2022-02-09 22:12] #287 closed

[2022-02-09 22:13] jtommy commented on #284
@marcosgomesneto any news about my question?

[2022-02-10 10:30] GiorgioJuniors commented on #285
Thanks so much for the fix , is this already available to use  ?

[2022-02-10 10:36] jtommy commented on #285
No, but we'll make a new release soon

[2022-02-11 02:43] birdlavv opened #290 "Datepicker functionality lost when wrapped in Headless UI modal dialog"
### Overview of the problem

**Oruga** version: 0.5.3
**Vuejs** version: 3.2.30
**OS/Browser**: OSX - Firefox & Chrome

### Description

The datepicker dropdown's "click-outside-to-close" functionality seems to break when the component is wrapped inside a Headless UI modal.

### Steps to reproduce

Reproduction URL: https://stackblitz.com/edit/vue-43dtrh
1. Open the modal
2. Try to close the dropd

[2022-02-11 08:15] kadlinobit opened #291 "Cannot change 'duration' in global configuration for Notification"
### Overview of the problem

**Oruga** version: 0.5.2
- "@oruga-ui/oruga": "^0.5.2",
- "@oruga-ui/theme-bulma": "^0.2.0",

**Vuejs** version: 2.6.14
- "nuxt-edge": "latest",
- "@nuxt/bridge": "npm:@nuxt/bridge-edge@^3.0.0-27338323.1e98259",

### Description

Using **Oruga module** with **themeBulma** - set up via Nuxt plugin. When I try to customize configuration for **Notification** component, se

[2022-02-13 09:51] jtommy commented on #290
@birdlavv just tested and there is something strange with the body of Dialog (Headless).
For example https://github.com/tailwindlabs/headlessui/blob/639d8d2d607880472375627e5b170789eca530e7/packages/%40headlessui-vue/src/components/dialog/dialog.ts#L173, it might lock dropdown (oruga) listeners

[2022-02-13 09:53] #290 closed

[2022-02-14 18:01] ellejeong opened #295 "Collapse: Example code not working with slot errors"
### Overview of the problem

**Oruga** version: `"@oruga-ui/oruga-next": "0.5.3"`
**Vuejs** version: [3.2.29]
**OS/Browser**: Chrome Version 98.0.4758.80 (Official Build) (x86_64)

### Description

Collapse component seems to have errors related to Vue 3 - collapse is just not working.
`slot` and `slot-scope` are both showing `vue/no-deprecated-slot-attribute` errors.

See screenshots below - I am

[2022-02-14 18:05] meriahoneil opened #296 "DatePicker Not Displaying Buttons"
### Overview of the problem

**Oruga** version: `"@oruga-ui/oruga-next": "0.5.3"`
**Vuejs** version: [3.2.29]
**OS/Browser**: Chrome

### Description

When rendering a DatePicker object with nested buttons that should display on footer of DatePicker, instead nothing appears, along with no errors.

### Steps to reproduce

1. Create a datepicker object
2. Attempt to nest buttons within it, like Now

[2022-02-14 18:13] vimalrajgit opened #297 "Oruga table dynamic fields issue."
Can anyone suggest whats the best way to render the dynamic fields in table in faster way

consider a table with 12 columns and want to render all the column fields dynamically

[code]

Issue: as there are 12 columns, o-table-column is called 12 times due to for-loop in o-slot-component (in package table.vue) and o-table-column itself looped 12 times to get the field details since the field data c

[2022-02-14 18:26] vimalrajgit commented on #296
@meriahoneil the documentation examples are not correct as they might have updated code to use the named slot. here is the updated code which will work

[code]

[2022-02-14 18:57] jtommy commented on #295
The examples in the docs is for Vue 2, you have to change it for Vue 3.

`<template v-slot:trigger="props"> ..`

I hope to update the docs soon to Vue 3

[2022-02-14 18:57] #295 closed

[2022-02-14 19:00] jtommy commented on #296
Yes, the examples in the docs are for Vue 2.
I hope to update soon them to Vue 3

[2022-02-14 19:00] #296 closed

[2022-02-14 19:40] ellejeong commented on #295
@jtommy

Hey! Thank you for your response; the update you provided helped solve the editor errors, however I'm still seeing this console error:

**console:**
![Screen Shot 2022-02-14 at 2 39 47 PM](https://user-images.githubusercontent.com/19518960/153934416-960f0e9e-4c79-4146-8630-e1353b0062e7.png)

**code editor:**
![Screen Shot 2022-02-14 at 2 40 06 PM](https://user-images.githubusercontent.com

[2022-02-14 19:48] jtommy commented on #295
You gave to use template tag as trigger slot.
It's a Vue 3 requirement

[2022-02-14 19:53] ellejeong commented on #295
@jtommy That works, thank you!!!!!!!!!!

[2022-02-14 20:25] meriahoneil commented on #296
Ah thank you @jtommy, that worked!

[2022-02-14 22:04] jtommy commented on #297
@vimalrajgit maybe using key attribute, did you try?

[2022-02-15 03:56] vimalrajgit commented on #297
Yes @jtommy i do use key attribute for o-table-column.

[2022-02-15 10:51] Tragio opened #298 "[Nuxt Bridge] Tree shaking not working"
### Overview of the problem

**Oruga** version: 0.5.3
**Vuejs** version: Nuxt - 2.16.0-27358576.777a4b7f
**OS/Browser**: MacOS 11

### Description

Making use of tree shaking of Oruga does not work. Importing one component makes all modules in the build bundle.

![Screenshot_2022-02-11_at_08 06 54](https://user-images.githubusercontent.com/5109593/154047007-9bc457d0-60ed-44e9-a2d3-8394dbf860e1.jpg

[2022-02-15 11:08] danielroe commented on #298
Workaround for now (we'll need to investigate in Nuxt what the root cause is here):

[code]

[2022-02-15 12:06] Tragio commented on #298
Thank you for your quick reply!! Doing that workaround I get a 500 error, at least on Vercel.

![Screenshot 2022-02-15 at 12 03 37](https://user-images.githubusercontent.com/5109593/154058804-4a4bcebc-aa5d-46d4-baf5-b07417cfe45c.jpg)

[2022-02-15 13:46] Tragio commented on #298
Yes, that's correct. This issue only happens when I use that workaround 🙃

[2022-02-15 18:56] jtommy commented on #298
@Tragio we might fix it using the same approach of https://github.com/oruga-ui/oruga/pull/273

[2022-02-15 21:25] #284 closed

[2022-02-16 01:48] lucraraujo opened #299 "o-field problem with Vue 3 latest version"
### Overview of the problem

**Oruga** version: [0.5.3]
**Vuejs** version: [3.2.31]
**OS/Browser**: Windows 10/Firefox 97.0

### Description
I've been experimenting with Vue 3 for the last week and today I faced the following problem when using 'o-field':
[code]
Until today I did not had this issue.

The stack I'm using is:
Laravel 9 @ latest
InertiaJS  @ latest
Vite @ latest
Vue 3 @ latest

Track

[2022-02-16 06:37] jtommy commented on #299
Thanks to investigate about Vue version, it's a good a workaround at the moment.

[2022-02-16 18:58] nioc commented on #299
Hello, same problem for me on the dialog.open:
[code]

with `ModalForm` is the one of [example](https://oruga.io/components/Modal.html#examples).

Vue: 3.2.31
Oruga: 0.5.3
Vite; 2.8.3

[code]

[2022-02-17 15:47] urkle opened #301 "OInput should set icon-right-clickable when clearable is set to true"
### Overview of the problem

**Oruga** version: 0.5.3
**Vuejs** version: 2.6.14
**OS/Browser**: Firefox/macOS

### Description

When I set the clearable property to true on an OInput control the icon is not clickable as iconRightClickable is not made true.

### Steps to reproduce

1. add an input `<o-input :clearable="true"></o-input>`
2. enter text (so icon appears)
3. Try hitting the clear icon

[2022-02-17 15:51] urkle opened #302 "OIinput triggers font icon warning when using clearable."
### Overview of the problem

**Oruga** version: 0.5.3
**Vuejs** version: 2.6.14
**OS/Browser**: Firefox/macOS
Using @fortawesome/vue-fontawesome component with SVG fonts

### Description

When using OInput with the clearable property set to true a console warning is issued when the input is empty stating it can't find the icon "".

### Steps to reproduce

1. Configure Fort Awesome's vue component

[2022-02-18 07:30] #299 closed

[2022-02-18 08:06] #301 closed

[2022-02-18 08:09] #302 closed

[2022-02-19 15:16] nioc commented on #299
Thanks for the quick fix @jtommy 👍🏻
Do you have a date for a new release shipping it?
(I tried downgrading vue to 3.2.30 but it was not ok).

[2022-02-20 00:15] birdlavv opened #305 "Props to style o-datepicker -> o-select"
### Description

The nested components (Input and Dropdown) can be styled through object props, but there is no way to dynamically interact with the Month `<select>` and Year `<select>`.

### Why Oruga need this feature

Oruga should have this as there is no way to style these nested components through props. Reimplementing this expected functionality as a workaround results in a much more boilerp

[2022-02-20 07:17] jtommy commented on #305
The select looks like as you style it the global config but you can use `listClass` to change the children.
If you want to replace it completely there is now way at the moment.. do you prefer a object prop for each select or one for both?

[2022-02-20 07:45] birdlavv commented on #305
Perhaps a single object prop that applies to both .o-sel elements uniformly. This will keep in line with the current API. Kind of how the `dropdownClasses` object is passed. I am unable to really foresee a use case for a need to style each independently.

Perhaps something like
[code]

In the context of the component:

[code]

Any way to get my programmatic paws on the `selectClass` & `rootClass`

[2022-02-20 07:49] jtommy commented on #305
You can already edit arrow class by iconNextClass etc..
Ok, I'll add a new prop selectClasses as object to apply to month and year picker

[2022-02-21 20:41] #305 closed

[2022-02-21 22:50] jtommy commented on #298
@Tragio we've just released 0.5.4, please check it

[2022-02-22 09:35] Tragio commented on #298
@jtommy thank you. I deleted `.nuxt`, `.output`, `node_modules`, and `yarn.lock`. Did a yarn install, and then a build. All is the same 🤔

[2022-02-22 09:39] jtommy commented on #298
Did you see the new file index.mjs into dist/esm ?

[2022-02-22 09:57] Tragio commented on #298
Yes, I have it here.
![Screenshot 2022-02-22 at 09 56 20](https://user-images.githubusercontent.com/5109593/155108114-e8568ded-b553-402a-a93d-cc777f16fdc7.jpg)

[2022-02-22 10:05] Tragio commented on #298
Tree shaking keeps not working.

![Screenshot 2022-02-22 at 10 04 18](https://user-images.githubusercontent.com/5109593/155109559-89126fee-6401-424e-8d6c-c8ddf3cb6589.jpg)

[2022-02-22 10:53] jtommy commented on #298
The fix should resolve the problem using the workaround.
I think that @danielroe is investigating about tree shaking

[2022-02-23 17:23] urkle commented on #225
@jtommy @mouadTaoussi so I took a look some at the PR #254 and it currently doesn't really work.
I have a local branch where I have done some rework on it and have it doing the basic alert dialog now (including working with theme-bulma, but only Vue2 right now)

@jtommy A few questions I have though on how you envision this component working in Oruga.

1) the dialog currently uses them-bulma-speci

[2022-02-23 19:03] jtommy commented on #225
1. As i told you in this PR there is nothing about Oruga idea. For example there isn't bodyClass prop or no modal class are applied to it. Does it make sense?

About template I don't know.. dialog might be different by modal but usually is only a built-in modal with a template for alert, confirm and prompt.

[2022-02-24 00:20] urkle commented on #225
I understand that PR was about a quick and dirty port..  I'm trying to make a PR that is more close to the final "oruga style" idea.  Hence all the questions..  I'd rather build up something useful that can easily be included in the next release vs something that'd have to be redone again to fit more with the Oruga style.

As for why add a dialog component?  Because there is some nicety in having

[2022-02-24 00:41] jtommy commented on #225
I understand that promise way is great and helpful for prompt and confirm.
In other hand dialog UI is only a modal and the good examples could be enough at the moment

[2022-02-24 16:30] urkle commented on #225
@jtommy What about a "dialog" promise interface with no component but injects props into a user-provided component to represent their UI and provides a clean way to send back the "response"?  This could (maybe) even be an adjustment of the programatic Modal interface?

[2022-02-24 22:46] jtommy commented on #225
Can you make an example to understand better?

[2022-02-26 00:47] IceBlizz6 opened #306 "Tabs out of order"
### Overview of the problem
**@oruga-ui/oruga-next**: 0.5.4
**vue**: 3.2.31

### Description
Oruga tabs component is placing all new tab items at the end, even when it's not supposed to.

### Steps to reproduce
1. Use code snippet
[code]

2. Create initial list
[code]

3. Add a new car to the list (after component has been mounted)
[code]

### Expected behavior
Expected order of tabs:
1. Car#1
2.

[2022-02-26 00:49] IceBlizz6 commented on #306
@jtommy
I created the issue like you wanted.
This is my first time making a bug report by following a template, Feel free to let me know if it can be improved.

Note: I deleted node_modules in the zip project, so you need to run npm install if you want to test it.

[2022-02-28 13:15] edfrias opened #310 "Oruga's field component prop types different than Buefy's counterpart"
### Description

Hi everyone, I'm currently migrating from Buefy to Oruga and some components that do the same had differences on their properties.

In buefy's field component we have the property `:type`, in oruga's field this property is called `:variant`, apparently they are the same but not the types.

Buefy's type is "string, object" and in oruga's counterpart is only "string" (I'm also seein

[2022-02-28 17:52] jtommy commented on #310
At the moment it doesn't support object prop.
It's an important change to the core code because it's a prop used as classes composition

[2022-03-01 08:08] edfrias commented on #310
Thanks for your response! Will do that way!

[2022-03-01 08:08] #310 closed

[2022-03-02 19:25] nioc opened #311 "modal.open() does not work"
### Overview of the problem

"@oruga-ui/oruga-next": "^0.5.4",
"@oruga-ui/theme-bulma": "^0.2.
"vue": "^3.2.31",
Browser: Firefox 97/Ubuntu

### Description

`modal.open` does not work.

### Steps to reproduce

Copy the code from [Oruga doc](https://oruga.io/components/modal.html#programmatically).

Then in _main.js_
[code]

### Expected behavior

Modal opened

### Actual behavior

Crash with foll

[2022-03-02 20:04] jtommy commented on #311
Can you share the code that you are using to open modal? Also the docs are only for Vue 2

[2022-03-02 21:57] nioc commented on #311
Oops, I've not noticed that is a _Vue 2_ snippet 😞, if you have the Vue 3 version, I can try it.

This the calling component `InviteGuestButton.vue`:

[code]

It is a Vue  2 application that I am updating to Vue 3, this component used `$buefy.dialog.alert()`. You can see previous code here:
https://github.com/nioc/xmpp-web/blob/master/src/components/InviteGuestButton.vue#L18-L21

[2022-03-02 23:00] jtommy commented on #311
You can add `inject: ['$oruga']` or `const { oruga } = useProgrammatic()` (import the function from oruga-next)

[2022-03-02 23:00] #311 closed

[2022-03-03 00:01] nioc commented on #311
Thanks for this quick reply but this does seems to work...

I added `inject: ['$oruga'],` in my component like following:
[code]

And now the error is:`TypeError: this.$oruga is undefined`
[code]

[2022-03-03 00:05] nioc commented on #311
And using the second proposal:
[code]

I have the same error as previous: `TypeError: can't convert Proxy to string`

[code]

[2022-03-03 07:01] jtommy commented on #311
Really strange.. with composition api works well.

Try the same code of theme-bulma example https://github.com/oruga-ui/theme-bulma/blob/74375ae3896b4b06e60599d538b0eb0c0320af4a/src/components/Modal.vue#L68

[2022-03-03 22:38] nioc commented on #311
Hi @jtommy, I tried using this example and it worked as expected.

So I have looked for differences, and found my error: it was the **`parent: this,`** properties I copied from the `$buefy.modal.open`.

Gasp... Thanks for help me 👍🏻 and if anyone encounter the same error... you will know what is the mistake.

[2022-03-04 06:46] jtommy commented on #311
Yes, Vue 3 doesn't need it

[2022-03-12 13:03] tanhs opened #313 "Programmatically close modal with events"
### Why Oruga need this feature
Need to close modal in parent when open programmatically

Admin.vue
[code]
    UserAccountAdd.vue
[code]

[2022-03-12 13:24] IceBlizz6 commented on #313
As i mentioned on discord earlier the Vue 2 version seems to have a working solution for this.
$oruga.modal.open(..) will return the component instance.
And then the modal can be closed with .close()

const comp = $oruga.modal.open(..)
....
comp.close()

This seems to have changed in Vue 3 as modal.open function now returns undefined instead.
In our project we are currently running a hack with a g

[2022-03-13 19:40] urkle commented on #225
@jtommy I created PR #314 that has a proposal for handling a "promise/async" modal.open method.

I've tested this in both Vue2 and Vue3 and it works great.

I did change the return contract for modal.open, but it was already inconsistent before.. (Vue2 returned the component instance, Vue3 returned void)

We *could* extend this promise concept to the notifications.open and loading.open as well.

[2022-03-13 21:37] jtommy commented on #225
I want to fix Vue 3, because it has to return the component instance instead of void as https://github.com/oruga-ui/oruga/issues/313

[2022-03-14 15:42] jtommy commented on #225
@urkle https://github.com/oruga-ui/oruga/blob/dff0a04fde4d2477bc18510d5fbcfd8c880d3850/packages/oruga-next/src/components/modal/index.ts#L35
I think we haven't to return the result of render but only vnode variable.

[2022-03-14 15:57] urkle commented on #225
@jtommy to return the component it is actually vnode.component.proxy (that is the same as "this" inside any component method).

I have a PR going up shortly.

[2022-03-14 15:58] urkle commented on #225
@jtommy PR #315

[2022-03-14 22:37] #313 closed

[2022-03-15 12:36] #225 closed, assigned to jtommy

[2022-03-16 11:40] nioc opened #317 "o-switch input event"
### Overview of the problem

**Oruga** version: 0.5.4
**Vuejs** version: 3.2.31
**OS/Browser**: Firefox 98

### Description

The input event emitted by `o-switch` is before the computation of the v-model value.
[Doc](https://oruga.io/components/Switch.html#events) says that component has an `input` event but it seems broken, should we use the `update:modelValue` event?

### Steps to reproduce

[co

[2022-03-16 12:09] jtommy commented on #317
We are working on new docs because the current examples are for Vue 2.

The correct is the new syntax as you described.

[2022-03-16 12:09] #317 closed

[2022-03-16 16:18] Thaurin opened #319 "Missing emit declaration for details-open in Table component"
### Overview of the problem

**Oruga** version: [0.5.4] (oruga-next)
**Bulma theme** version [0.2.3]
**Vuejs** version: [3.2.25]
**OS/Browser**: Latest Chrome

### Description

When using a Table with a detail slot, when opening the detail for a row, Vue warns me that:

    [Vue warn]: Component emitted event "details-open" but it is neither declared in the emits option nor as an "onDetails-open"

[2022-03-16 17:40] jtommy commented on #319
@Thaurin please make a PR to fix it

[2022-03-16 18:00] Thaurin commented on #319
Could try it. I don't have the environment set up, but I tried earlier and I got some errors after `npm run bootstrap` (Git for Windows setup). I'll try again a bit later.

Node v12.22.7
npm v6.14.15

[2022-03-16 18:01] jtommy commented on #319
It's only a value to add to emits list, you can it directly from GitHub

[2022-03-16 20:15] Thaurin commented on #319
I guess I kinda have it in my system that I want to test any and all changes myself before I make a PR. :) I also don't have that much experience with GitHub (more with GitLab). But like the idea of helping out more in the future, so getting this set up right would be nice.

Made PR at #320

[2022-03-16 20:18] #319 closed, assigned to nobody

[2022-03-16 20:26] Thaurin commented on #319
Can I still ask if this tool chain works with Git for Windows, or do I have to go WSL or full Linux?

[2022-03-16 20:53] jtommy commented on #319
I use Windows :)

[2022-03-16 21:02] Thaurin commented on #319
So I can find a solution for these errors and be more helpful in the future!

[2022-03-17 18:34] jtommy commented on #297
@vimalrajgit any news?

[2022-03-18 05:01] AncySano opened #322 "Close all shown toasts/notifications"
### Description

Ability to close all shown toasts/notifications.

### Why Oruga need this feature

Useful when route changes. Clear page from all shown toasts/notifications when route changed.

[2022-03-18 19:06] acarrera94 opened #323 "Add autocorrect prop for o-input"
### Description

Add `autocorrect` prop for `o-input`

### Why Oruga need this feature

Currently if I have the following code:
[code]

`autocorrect="none"` is ignored and is not passed to the input.

In safari on on a Mac this causes fields to be auto capitalized, even when I don't want them to be capitalized.
![Screen Shot 2022-03-18 at 1 04 23 PM](https://user-images.githubusercontent.com/16169

[2022-03-18 19:11] jtommy commented on #323
Are you sure?

https://github.com/oruga-ui/oruga/blob/b9e026f0d6fe1a45e937f8c066402ad8e789ffa7/packages/oruga-next/src/components/input/Input.vue#L18

All props are passed to input

[2022-03-18 19:20] acarrera94 commented on #323
Yeah it looks like it ignores it for some reason because in the browser it shows:
[code]

Even though in my code I have `autocorrect="none"` like I shared above. I also tried `autocorrect="off"`, both are ignored for some reason

[2022-03-18 19:29] acarrera94 commented on #323
Interesting, it looks like using `:autocorrect="false"` results in `autocorrect="off"` in the browser, so that works.

Not sure why it's getting replaced with `autocorrect="on"` when using a string value.

[2022-03-18 19:54] jtommy commented on #323
Probably you get the same issue using a native input

[2022-03-18 19:54] #323 closed

[2022-03-18 20:44] jtommy commented on #322
@urkle can you take a look?

[2022-03-19 16:28] #306 closed

[2022-03-23 21:45] jtommy commented on #297
Just improve SSR rendering and first load https://github.com/oruga-ui/oruga/commit/26935a35378530da14c6c294f706b23c87a3dd48

[2022-03-23 21:45] #297 closed

[2022-03-24 23:12] nioc opened #329 "Help on this.$oruga.config when using tree shaking"
### Overview of the problem

Oruga version: 0.5.4
Vuejs version: 3.2.31
OS/Browser: Firefox 98

### Description

I would like to update datepicker configuration (defaultFirstDayOfWeek) when user change locale, I used `this.$oruga.config.setOptions({...})` but with tree shaking, I got `this.$oruga.config is undefined`. What is needed to be imported for config be defined?

Here is my import statemen

[2022-03-25 06:29] jtommy commented on #329
Are you using composition api?

[2022-03-25 08:30] nioc commented on #329
Good morning.
No, I use options API, and on some components with a setup (for store for example).

[2022-03-25 14:34] jtommy commented on #329
@nioc ah ok, you are not using the full bundle so you don't have `$oruga` variable; you have to use `Config.setOptions(...)`

[2022-03-25 14:34] #329 closed

[2022-03-25 16:19] nioc commented on #329
Otherwise, I may have forgotten to import/use something in my `main.js` to inject the `config` attribute. If you know what import can handle that, it should be great 👍🏻

I imported these:
Tabs, Field, **Config**, Loading, Switch, Modal, Table, Icon, Upload, Datepicker, Collapse, Slider, Input

[2022-03-25 16:56] jtommy commented on #329
Here you are using composition api.. you can import useProgrammatic from '@oruga-ui/oruga-next'

[2022-03-25 21:40] nioc commented on #329
Was not ok for me as the result is the same as `this.$oruga`.

After a few tries, I finally found my way (`import ConfigProgrammatic` then `ConfigProgrammatic.setOptions({...})`), if anyone is in the same situation (or if you want to add it to the doc):

[code]

[2022-03-25 21:46] jtommy commented on #329
I told you it in my first answer! You can use the other solution too
Btw the docs for Vue 3 is working in progress

[2022-03-25 22:04] nioc commented on #329
You're right but reading your answer, it was not obvious to me that I have to import `ConfigProgrammatic`.
Sorry to disturb you with these beginner questions. Oruga will be a great tool and I really thanks you for all this work.

[2022-03-25 22:05] jtommy commented on #329
No problem, thanks 😉

[2022-03-26 08:50] j-a-m-l opened #330 "Tooltip triggers are visible over other open tooltips"
### Overview of the problem

**Oruga** version: 0.5.4
**Vuejs** version: 3.2.26
**OS/Browser**:

### Description

When using `appendToBody`, tooltip trigger have higher `z-index` than tooltip content and arrow, so when using several tooltips, their triggers will be visible over the other tooltip contents.

### Expected behavior

The tooltip content should be always over any other tooltip trigger.

[2022-03-26 09:01] jtommy commented on #330
Similar to https://github.com/oruga-ui/oruga/issues/105

In general `append-to-body` needs of a refactor

[2022-03-30 19:23] ayalon opened #331 "Migrate from uefy to Oruga: Message Component."
I'm in progress of moving from Buefy to Oruga to prepare the switch to Vue3.

Refactoring my Buefy components to Oruga components was straight forward.

But then I wanted to implement the Buefy Message:
https://buefy.org/documentation/message/

But I could not find a relevant counterpart on Oruga.
What is the best way to to have the same behaviour like a Message with a header?

[2022-03-30 19:25] jtommy commented on #331
Base notification? https://oruga.io/components/Notification.html#examples

[2022-03-30 19:29] ayalon commented on #331
Notification exist on Bulma as well and they are already perfectly styled.

https://bulma.io/documentation/elements/notification/
vs
https://bulma.io/documentation/components/message/

I could maybe somehow refactor it but a notification for example does not have a title while a message has a title. I think I should not hijack notification because its already perfectly working.

[2022-03-30 19:54] jtommy commented on #331
Then you can create a component by yourself or simply use html elements and Bulma CSS

[2022-03-30 19:54] #331 closed

[2022-03-30 19:55] ayalon commented on #331
Will do. Thanks for your help and your great framework!

[2022-03-30 19:55] jtommy commented on #331
Thanks 👍

[2022-04-01 08:32] ayalon opened #332 "Tab Component: Default tab is not respected on initial page load."
I found a bug with the default tab on SSR Rendering.

The bug is reproducible on the Tabs documentation page of Oruga itself:
https://oruga.io/components/tabs.html

If you open the page directly in the browser you see this:
![image](https://user-images.githubusercontent.com/432045/161225985-327322af-77a1-4895-8818-4fd03d5497a8.png)

The first tab does not show content.

If you navigate client side

[2022-04-01 15:43] jtommy commented on #332
The issue is only in that example, did you reproduce it in your project?

[2022-04-01 18:10] ayalon commented on #332
I had the same Issue ist n my project using nuxt. And I was glad I saw the same issue on the example page. Bur I first realized it in my local project on page load.

[2022-04-04 22:49] BuffMcBigHuge opened #333 "Modal onClose method called twice"
### Overview of the problem

[code]

### Description

The Modal onClose functions seems to call twice. This behaviour makes it difficult to handle modal callbacks to the originating component.

### Steps to reproduce

[CodeSandbox](https://codesandbox.io/s/oruga-vue3-modal-test-0hcqxy?file=/src/App.vue)

### Expected behavior

Emitting a single 'close' event should only call the `onClose` method a

[2022-04-05 05:48] jtommy commented on #333
@BuffMcBigHuge using promise it works.
We'll investigate about callback way

[2022-04-06 21:55] wishinghand opened #334 "Getting destroyOnHide prop for Modal to work"
### Overview of the problem

**Oruga** version: [0.4.7]
**Vuejs** version: [3.2.19]
**OS/Browser**: Windows 10 64 bit/Firefox

### Description

Modal's destroyOnHide prop doesn't seem to work

### Steps to reproduce

1. Programmatically call a modal with form and state like so:
[code]
2. Type anything into a form
2. Close modal in `FormComponent` using `emit('close');`
3. Reopen modal
4. Form fiel

[2022-04-07 15:40] dwhoop55 opened #335 "v0.5.5 new promise returns (modal/notification) makes vue throw type warnings"
### Overview of the problem

**Oruga** version: [0.5.5] (latest)
**Vuejs** version: [2.6.14] (latest vue2)
**OS/Browser**: Chrome Version 100.0.4896.75 (arm64)

Version < 0.5.5 are not affected.

### Description

Modal and Notification have props defined "promise" as `Object` but get fed with a `Promise`.
Thus Vue warns of the type mismatch:
`[Vue warn]: Invalid prop: type check failed for prop "p

[2022-04-08 02:51] wyxos opened #336 "Pagination issue when manually updating current prop"
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 3.2.25
**OS/Browser**: ElectronJS

### Description

Pagination bug when :current is updated while the total  number of pages is consequent enough.

### Steps to reproduce

1. Bind the current page to an input.
2. Set total number of items to 19000 and per-page to 24
3. Manually update the input to a large number i.e. 1000

##

[2022-04-11 23:10] maximoosemine opened #337 "Datepicker with openOnFocus not showing on click."
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 3.2.31
**OS/Browser**: Win 10/Chrome

### Description

In a narrow viewport, when clicking on an out of focus datepicker with the "openOnFocus" prop, the datepicker will show on mouse down, then hide on mouse up. This issue doesn't occur if the datepicker is already in focus. Here is a GIF showing the issue:

![orugaDatepicke

[2022-04-12 12:16] fahdaddi opened #338 "Drag scroll only works in the first slide"
### Overview of the problem

**Oruga** version: [0.5.5]
**Nuxtjs** version: [2.15.8]
**OS/Browser**: Google Chrome Iphone Xs Max

### Description

the drag only works in the first item (check `www.optigura.fr` for example)

[2022-04-12 15:03] reskes opened #339 "o-input issues with ref/focus"
### Overview of the problem

@oruga-ui/oruga-next: 0.5.5
@oruga-ui/theme-bulma: 0.2.5
vue: 3.2.31

@vueuse/core: 8.2.5

### Description

I'm trying to use the vueuse library's _useFocus_ in combination with Oruga's input element. Not sure if we should call this a bug or a feature request.

This is my code, simplified:

[code]

But instead of focusing the native input as expected, nothing happens a

[2022-04-12 22:32] jtommy commented on #338
What do you mean? I am able to drag all sliders in the homepage (android + Chrome)

[2022-04-12 23:04] Zelgadis87 opened #342 "[Bug] Table column width is not respected if showHeader=false"
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 3.2.13
**OS/Browser**: Microsoft Edge

### Description

Using the width parameter on a o-table-column component only works when it's parent o-table has showHeader=true (the default). It has no effect when the header is hidden.

[2022-04-14 05:58] jtommy commented on #342
@Zelgadis87 you are right, at the moment the column width is applied to the head that maintains it to the body.
We might refactor it or hide the head with `v-show`, but probably better the first way

[2022-04-15 02:09] amanpatel commented on #105
I'm glad this is being considered! Whatever placement solution you come up with, can it also be applied to the directions of [dropdown menus](https://oruga.io/components/Dropdown.html)?

<img width="150" alt="Screen Shot 2022-04-14 at 9 07 21 PM" src="https://user-images.githubusercontent.com/226976/163506567-520e647e-cc6e-4204-8d6b-dec06e569323.png">

[2022-04-18 12:53] heohex opened #344 "[Bug] Table cannot works with reactive props"
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 3.2.31
**OS/Browser**: Windows / Chrome

### Description

Table getting errors when use some reactive prop

### Steps to reproduce

**https://codesandbox.io/s/long-http-to0pjl?file=/src/App.vue**
1. Try to resize window
2. Try to use switch "Bordered"

### Expected behavior

1. Rows appears as cards on mobile
2. Border to all

[2022-04-18 14:09] jtommy commented on #344
The problem is `columns` prop, try using table-column components.
The prop is now well supported in the next version at the moment.

[2022-04-18 15:22] heohex commented on #344
It's not obvious :)
Thank you

[2022-04-18 15:22] #344 closed

[2022-04-19 21:44] Mars073 commented on #336
it's a simple, the problem is that your `v-model` returns a `string`, so the component will concatenate it with the numbers instead of doing the mathematical operations. you can solve this problem by using `v-model.number="..."`.

@jtommy do you want me to add security to cast the types and prevent "page overflow"?

[2022-04-19 21:46] jtommy commented on #336
@Mars073 ok

[2022-04-20 01:56] wyxos commented on #336
@Mars073 Although it is correct that it is a casting issue, I found even more issues while trying the above.

- Going for ```v-model.number``` fixes my issue but the pagination "active" state stops working. So if I am on page 10, it doesn't set the anchor for page 10 as active.
- Going for ```v-model:current.number``` maintains the active state but it doesn't address the problem initially reported

[2022-04-20 03:37] wyxos commented on #336
Sorry, please ignore the above. I was looking at the wrong v-model.

[2022-04-20 03:39] wyxos commented on #336
@Mars073 You're correct, issue was due to not casting the value from the input to number. Closing issue.

[2022-04-20 03:39] #336 closed

[2022-04-20 11:36] jtommy commented on #334
At the moment that prop works only with modal by tag and not programmatically

[2022-04-24 22:48] jtommy commented on #137
New docs is working progress https://github.com/oruga-ui/oruga/pull/340 and all examples will show code with Vue 3 composition api

[2022-04-25 05:49] #335 closed

[2022-05-02 05:59] Roldification opened #355 "Tabs Animation on clicking previous tab is broken"
### Overview of the problem

**Oruga** 0.5.5
**Vuejs** 3.2.33
**OS/Browser**:  Chrome 100.0.4896.127

### Description

When clicking the previous tab, no animation is shown for sliding back.

### Steps to reproduce

1. Use the Tabs component

### Expected behavior

A nice slide animation to previous tab should occur

### Actual behavior

it went back to previous tab but without the sliding animati

[2022-05-02 20:20] #322 closed

[2022-05-02 20:32] astagi commented on #338
@fahdaddi yep, I can reproduce it on iPhoneXR + Chrome (same problem using Safari). Carousel from docs works though.. need to investigate further..

[2022-05-06 09:17] diwic opened #357 "Datepicker improve a11y"
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 2.6
**OS/Browser**: Ubuntu/Firefox 99.0

### Description

Hi! I'm working on improving accessibility and run into something I'm not sure how to fix myself. I'm using Firefox's checker and it errors on "[Clickable elements must be focusable and should have interactive semantics](https://developer.mozilla.org/en-US/docs/Web/Acc

[2022-05-10 11:22] SebastianHenzmann opened #358 "Oruga Table CheckBox not selecting"
### Overview of the problem

**Oruga** version: [0.5.5]
**Vuejs** version: [3.2.33]
**OS/Browser**: Windows 10 Pro 21H2, Chrome 101.0.4951.54

### Description

Warning in console, when clicking checkbox in table.
![image](https://user-images.githubusercontent.com/100124568/167613756-bdafb835-8fe1-4134-be38-b291d9314edd.png)

### Steps to reproduce

1. Create new project and select vue 3 and npm
2.

[2022-05-10 14:02] jtommy commented on #358
@SebastianHenzmann thanks, try to downgrade the Vue 3 version because in the previous versions I didn't see a similar warning.

We'll fix it in the next release 😉

[2022-05-13 20:23] andyjamesn opened #359 "Support Google material symbols for icons for webfonts"
I am referring to these material font icons

[ Material Symbol Icons](https://fonts.google.com/icons)

### Description

Use material symbols for icons for normal icons or icons in buttons and inputs

### Why Oruga need this feature

The google material symbols are the latest release to material design and offer extremely flexible icons/symbols that are really easy to use

You can read about the re

[2022-05-19 19:38] aner-perez opened #360 "o-dropdown trigger slot is not rendered"
### Overview of the problem

**Oruga** version: oruga-next 0.5.5
**Vuejs** version: 3.2.34
**theme-bulma** version: 0.2.5
**OS/Browser**: Fedora 35/Chrome 101.0.4951.41/Firefox 99.0.1

### Description

When using the o-dropdown component as described in the documentation, no component is visible on the screen.  The same issue occurs without theme-bulma I believe.

### Steps to reproduce

[code]

[

[2022-05-19 19:55] jtommy commented on #360
The examples are for Vue 2 (soon we'll release a new doc).
You have to use the new Vue 3 syntax

[2022-05-19 19:55] #360 closed

[2022-05-19 20:21] aner-perez commented on #360
Thanks for the super quick response and sorry for the noise.  Using:

[code]

Works with no issue as expected

[2022-05-20 21:46] jtommy commented on #359
@andyjamesn you have to create a custom icon component, i made an example for you https://codesandbox.io/s/custom-icon-pack-5mouy9

[2022-05-20 21:46] #359 closed

[2022-05-20 21:51] #358 closed

[2022-05-22 18:50] wyxos opened #361 "@input event not triggered on o-upload"
### @input event not triggered on o-upload

**Oruga** version: [0.5.5]
**Vuejs** version: [3.2.25]
**OS/Browser**: Windows 10/Chrome

### Description

The @input event is not being triggered on the component o-upload

### Steps to reproduce

- Implement o-upload component as from documentation example
- Add @input event and define a method
- Add console log of event within the new method

### Expe

[2022-05-22 22:30] jtommy commented on #361
There is `@update:modelValue`

[2022-05-22 22:31] #361 closed

[2022-05-23 09:07] jake-armour opened #362 "Sidebar slide out not working in Vue 3"
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 3.1.0
**OS/Browser**: Chrome 101.0.4951.64

### Description

Oruga sidebar doesnt have the slide animation when opening. Initial investigation appears to show that, while the slide out class (`.slide-prev-leave-to`) has been updated for Vue 3, the stylesheet is still using Vue 2 for the enter class (`.slide-next-enter` instea

[2022-05-23 09:12] jtommy commented on #362
Thanks, can you make a PR to fix it?

[2022-05-25 06:35] mlmoravek opened #363 "Collapse trigger is not a function"
### Overview of the problem

**Oruga** version: @oruga-ui/oruga-next": "0.5.5"
**Vuejs** version: "vue": "3.2.13",
**OS/Browser**: Win/Chrome

### Description

Using the collapse component, if i don't define a template for the trigger slot the render function of this component will produce an error:

[code]

### Steps to reproduce
Use collapse component without the `<template #trigger>` child and

[2022-05-25 09:12] jtommy commented on #363
@mlmoravek the current examples are only for vue 2 but we are working on a new doc https://github.com/oruga-ui/oruga/pull/340

[2022-05-25 09:12] #363 closed

[2022-05-25 16:35] vindru opened #364 "Initial value passed is not reflecting on Range Slider"
### Overview of the problem

**Oruga** version: [0.5.4]
**Vuejs** version: [3.0.0]
**Macos/Chrome**:

### Description

Initial value passed is not reflecting on Range Slider.

[code]

### Expected behavior

Expected, [2, 5] as the initial value for slider

### Actual behavior

Getting, [2,2] as the initial value for slider

 [This](https://github.com/oruga-ui/oruga/blob/develop/packages/oruga-next

[2022-05-26 01:58] fahdaddi commented on #338
@astagi is there a way to debug the component in Xcode emulator? (something like the react-native debugger)

[2022-05-31 07:43] astagi commented on #338
I don't know @fahdaddi :/ I use real devices, it could be real interesting to figure out how to debug components on mobile devices

[2022-06-02 17:17] BuffMcBigHuge commented on #75
For those who may come across this thread as I did:

`$ npm i --save @fortawesome/vue-fontawesome@prerelease`

[code]

[2022-06-03 14:10] BuffMcBigHuge opened #368 "Dropdown cut off when inside a Modal"
### Overview of the problem

[code]

### Description

Adding a dropdown in a modal encapsulates the dropdown menu inside the modal body which results in a bad user experience on desktop.

### Steps to reproduce

[CodeSandbox](https://codesandbox.io/s/oruga-vue3-test-0hcqxy?file=/src/Modal.vue)

### Expected behavior

The dropdown menu should appear above all other components when being accessed.

[2022-06-03 14:12] jtommy commented on #368
Did you try using `append-to-body` prop?

[2022-06-03 14:13] BuffMcBigHuge commented on #368
You are a lifesaver. Case closed!

[2022-06-03 14:17] #368 closed

[2022-06-10 07:19] #137 closed

[2022-06-11 01:15] ManUtopiK opened #369 "Compatibility with unplugin-vue-components"
### Description

I've tried to create a resolver for [unplugin-vue-components](https://github.com/antfu/unplugin-vue-components).

It works, but not for all components like dropdown, because there is one file for two components : dropdown and dropdownitem.
Here is my code in vite.config.ts
[code]
Use this function in `vite.config.ts` as explain [here](https://github.com/antfu/unplugin-vue-componen

[2022-06-11 05:32] jtommy commented on #369
I didn't know it, I'll try to improve the esm bundle

[2022-06-14 14:07] re2005 opened #370 "Tailwind components"
As we know **Oruga** is beautiful project, both have super handy components. I'm also Buefy user and love that.

The only great feature request after using these two lib for about 4 years now is styling. I mean, I love the no CSS dependency and the fact that both also provide some styling (Buefy provides it all)

But Oruga, can we do something about Tailwind ? Like refactor the components to be ta

[2022-06-14 17:06] jtommy commented on #370
Thanks 🙏
There is a old sample project that integrates Oruga with tailwind.
Btw you can use it as you prefer.. overriding the default classes (Oruga minimal CSS) or creating new classes to apply to each components removing the default or in append.

[2022-06-15 21:12] blm768 commented on #105
For a project I've been working on, I ended up implementing a little hack that basically finds the bounding rectangle of the tooltip content, translates it to all four possible positions, and picks the position that provides the greatest overlap with the viewport. If that's a viable strategy for Oruga's needs, I should be able to draft up a PR that integrates that strategy into Oruga itself.

API-

[2022-06-15 21:29] jtommy commented on #105
@blm768 sure, you are welcome

[2022-06-15 22:15] drewda opened #371 "Documentation on how to transition from Buefy to Oruga"
### Description

Please consider adding a documentation page with step-by-step instructions on how to switch from Buefy to Oruga + a Bulma theme.

### Why Oruga need this feature

Users looking to upgrade from Vue 2.x and Nuxt 2.x to Vue 3.x and Nuxt 3.x will have to switch from Buefy to an alternative: https://github.com/buefy/buefy/issues/2505

---

In case it is useful to others, I will start t

[2022-06-18 05:30] jtommy commented on #371
As you can see I'm working on new docs compatibile with Vue 3 and i would like to add a dropdown/select to switch base theme, full theme and Bulma theme.

About all differences between Buefy and Oruga maybe better add them to bulma-theme realme.

(the difference about tabs is looks like a issue to be honest 😄 )

[2022-06-20 08:22] #370 closed

[2022-06-21 06:52] asadhshujau opened #373 "[Bug] o-autocomplete with append-to-body on a modal"
### Overview of the problem

**Oruga** version: [0.5.5]
**Vuejs** version: [3.2.37]
**OS/Browser**: Chrome

### Description

happens when **o-autocomplete**  is used with **appendToBody** prop in a programmatic modal with **destroyOnHide** set to **true** and modal is closed

### Steps to reproduce

1. make a component with a o-autocomplete with append-to-body prop on it
3. open a programmatic mod

[2022-06-21 10:46] asadhshujau commented on #373
same case for o-inputitems

[2022-06-21 16:14] BuffMcBigHuge commented on #373
`o-dropdown` also has this issue. Can reproduce [here](https://codesandbox.io/s/oruga-vue3-notification-test-0hcqxy?file=/src/Modal.vue).

[2022-06-25 21:07] themodernpk opened #375 "[Feature] Add a Global Progess Bar"
The number of times it's really useful to have a global progress bar, similar to

https://hilongjw.github.io/vue-progressbar/index.html

I am recommending it because I trust Oruga, more than any other library.

It will be a great addition

[2022-06-27 04:43] asadhshujau commented on #373
o-datepicker too

probably all the components with a dropdown view has this issue. [not confirmed]

[2022-06-27 06:34] jtommy commented on #373
Yes, there 3-4 components that depends on dropdown

[2022-06-27 20:13] themodernpk opened #378 "Active class applied to all dropdown items when `value` is not defined"
### Overview of the problem

**Oruga** version: [0.5.5]
**Vuejs** version: [3.2.37]
**OS/Browser**: Chrome

### Description
If the value is not set for Dropdown Items, and if a dropdown item is clicked, it applies `is-active` class on all the dropdown items

[Screenshot](https://drive.google.com/file/d/1MsuynWxA-9jqOl0PpdWRrU8_B1VT1GYq/view)

### Steps to reproduce

1. Use Oruga with Bulma theme
2

[2022-06-28 19:41] urkle commented on #373
This issue also occurs with the o-tooltip component.

[2022-07-01 23:47] MattiasMartens opened #380 "Oruga radio button color can't be overridden with CSS variable"
# Description

The Oruga radio button's colour is controlled with CSS variable `--oruga-radio-active-background-color`. However, changing this variable globally does not change the colour of the button.

Here's why:

[code]

The SVG in the URL:

[code]

As you can see, the fill colour draws from the variable as expected; but because it's a background-image CSS property, the SVG being rendered is n

[2022-07-06 19:54] mouadTaoussi opened #382 "[Feature Request]: Add Breadcrumb Component"
### Description
You can assign me to do this for OrugaUI

### Why Oruga need this feature
To include all possible components that front-end developers use in their projects

[2022-07-06 19:56] mouadTaoussi opened #383 "New Component: Avatar"
### Description
You can assign me to do this

### Why Oruga need this feature

To include all the components that Front-end developers use in their projects

[2022-07-06 21:32] mouadTaoussi commented on #375
@jtommy You can assign me to this Feature!

[2022-07-18 17:54] tonybebber commented on #338
Were you ever able to figure out a solution? Dealing with the same problem on physical iPhone 12 Pro using Safari (using v0.5.5 of Oruga), where dragging works on the first carousel slide, but then dragging becomes completely disabled.

[2022-07-21 05:04] YDX-2147483647 opened #386 "Is There a Proper Way to Use in SFC or by Manually Imports?"
### Description

[In the doc](https://oruga.io/documentation/#setup), Oruga is installed (universally) by `app.use(some_plugin)` even for individual components.

AFAIK, there’s no `app` in [SFC](https://vuejs.org/api/sfc-spec.html)… Is their a proper way to manually import?

[code]

### Why Oruga need this feature

- Already implemented!

  (in a trickier way)

[code]

- Easier to migrate from oth

[2022-07-23 03:51] calicoder77 opened #389 "Collapse with 2nd button that checks if div is expanded? Is this possible?"
Good evening, I'm going through the official docs and see the **_collapse_** example here: [Oruga Collapse component](https://oruga.io/components/Collapse.html). If I add a second button (Button02), how would I go about checking if the div is expanded? I've been looking for a way to check if the div is expanded and if **_true_** disable it from retracting.
Appreciate the tips and keep up the amazi

[2022-07-23 05:49] jtommy commented on #389
Trigger slot is a scoped slot and emit `props`, for example `open`

`v-slot:trigger="{ open }"`

[2022-07-23 06:42] calicoder77 commented on #389
I'm not 100% sure if this is a bug but I changed the Button02 code above to:
`<o-button variant="primary" v-slot:trigger="{ open }">Button02</o-button>` and it still closes the collapse. Shouldn't it force open the div for me?

[2022-07-23 06:43] jtommy commented on #389
Do you see the button? In Vue 3 you have to put the slot to template element

[2022-07-23 06:47] calicoder77 commented on #389
I do see the button after adding the change to the template tag: `<template #trigger="props" v-slot:trigger="{ open }">`

[2022-07-23 16:51] jtommy commented on #389
Mmm no `v-slot` is an alternative of `#slot`

[2022-07-23 16:51] #389 closed

[2022-07-24 08:25] ishitatsuyuki commented on #105
FWIW, there's https://github.com/Akryum/floating-vue which handles a lot of popup best practices (including focus/accessibility). Might be useful to incorporate that.

[2022-07-25 15:47] ndrbrt opened #390 "Add `rowClass` prop in the documentation about the Table component"
In order to find out about this prop I had to check the source code, since (as far as I could see) it was not documented.

[2022-07-25 15:51] jtommy commented on #390
Thanks, i will add it in the docs

[2022-07-29 16:17] denised commented on #332
I ran into this as well.

[2022-08-02 07:51] NarekMeliksetyan commented on #137
good morning! how can I  use Oruga for SSR with Vite, without nuxt js? @jtommy

[2022-08-02 08:51] jtommy commented on #137
What do you mean? What's the problem?

[2022-08-03 06:12] akhma-ps opened #392 "Error on unmounting a table with columns declared with property"
### Overview of the problem
When trying to unmount a table in any way, an error occurs if the columns are specified via the `:columns=""` property.

**Oruga** version: [0.5.5]
**Vuejs** version: [3.2.33]
**OS/Browser**: macOS Monterey 12.3/Chrome 103.0.5060.114

### Description
Demo: https://codesandbox.io/s/oruga-table-unmount-bug-nn7kox
Turn off the switch at the top. You should get an error:
`U

[2022-08-03 06:18] jtommy commented on #392
https://github.com/oruga-ui/oruga/issues/344

[2022-08-03 06:18] #392 closed

[2022-08-03 06:46] akhma-ps commented on #344
I'm sorry, I don't understand. You mean the next version after 0.5.5, which has not yet been released?

[2022-08-03 06:48] jtommy commented on #344
I am not working on it, but I'll decide to break the support or fix it later. Btw there is an alternative:)

[2022-08-03 14:06] akhma-ps opened #393 "thAttrs/tdAttrs leads to recursive updates"
### Overview of the problem
If you use the `tdAttrs` or `thAttrs` property on the OTableColumn component to set the class, a recursive update warning is displayed and the class is duplicated.

**Oruga** version: oruga-next [0.5.5]
**Vuejs** version: [3.2.33]
**OS/Browser**: macos/Chrome

### Description
Demo: https://codesandbox.io/s/oruga-table-recursive-updates-x0b68l?file=/src/App.vue

### Step

[2022-08-03 17:06] urkle opened #394 "Inputitems allows new entry when autocomplete is false"
### Overview of the problem

**Oruga** version: next - 0.5.5
**Vuejs** version: 3.2.37
**OS/Browser**: macOS/Firefox

### Description

A tag input without autocomplete enabled allows adding new entries (Even though allowNew is false).

### Steps to reproduce

1. Create a inputitems component
2. Type text into the component and press "enter"

### Expected behavior

No new entry to be added to the i

[2022-08-03 17:12] urkle opened #395 "Taginput: Close on select"
### Description

Add an option to the inputitems component to have the dropdown close after selecting an entry.

Currently the component ties the behavior to the open-on-focus setting.. these should be separate concerns and not tied together.

### Why Oruga need this feature

More flexibility and usability for apps.

[2022-08-04 21:17] #390 closed

[2022-08-04 21:17] jtommy commented on #395
@urkle it's a nice feature, do you want to work on it?

[2022-08-04 21:19] jtommy commented on #394
@urkle that prop makes sense only with autocomplete.
You should use disabled prop to avoid adding new elements without autocomplete, no?

[2022-08-04 21:25] jtommy commented on #386
@YDX-2147483647 did you try something like `import { OButton } from '@oruga-ui/oruga-next/dist/esm/button'`

[2022-08-05 12:53] YDX-2147483647 commented on #386
It works. Thanks!

[2022-08-05 12:53] #386 closed

[2022-08-05 14:06] urkle commented on #394
@jtommy it just seems an odd stock configuration of the component to allow it to add new elements when you have autocomplete disabled.  As you have to explicitly disable the input which then creates other issues.

My ideal setup for the usage I have for this component right now is to have it behave like this
1) no auto complete
2) no creating new entries
3) clicking NOT on a pill opens the dropdow

[2022-08-06 14:03] jtommy commented on #394
I'm sorry but I don't understand the 1 and 2 point.
No autocomplete and no new entries.. who add the entry? And what entries? Free text i imagine

[2022-08-07 03:33] ishitatsuyuki opened #396 "Jest snapshots out of date"
If you run tests on e823eb313f2150b1eb5f9018e080e997b3b1307f you will get a bunch of Jest snapshot diffs.

[code]

Might want to update the snapshots and check if they are working as intended.

It's also a good idea to get these validated in CI.

[2022-08-07 07:34] ishitatsuyuki commented on #386
I think doing imports from `dist/esm` is a poor suggestion: it depends on implementation details, doesn't integrate with IDEs for the same reason, and can also have weird interactions with webpack `resolve.alias` etc.

I've opened #397 as an alternative way to handle this.

[2022-08-08 20:13] jtommy commented on #396
@ishitatsuyuki you are right but Vue 2 won't be supported in the breaking release

[2022-08-08 20:13] #396 closed

[2022-08-08 20:44] #362 closed

[2022-08-08 20:49] jtommy commented on #332
@denised oruga-next (vue 3) or oruga (vue 2)?

[2022-08-08 20:54] #342 closed

[2022-08-08 20:56] denised commented on #332
Vue 3

--
  Denise Draper
  ***@***.***

On Mon, Aug 8, 2022, at 1:49 PM, Walter Tommasi wrote:

[2022-08-08 20:56] jtommy commented on #298
@Tragio any news?

[2022-08-08 20:59] jtommy commented on #332
@denised can you reproduce on codesandbox or similar?

[2022-08-08 21:14] jtommy commented on #364
@vindru i'm not able to reproduce on current dev branch (0.5.5), can you share a condesandbox or similar?

[2022-08-08 23:35] denised commented on #332
You should be able to see it on https://stackblitz.com/edit/vitejs-vite-gya47e?file=src%2FVarViewer.vue
(The issue isn't unique to Stackblitz --- it also happened on my desktop.)

--
  Denise Draper
  ***@***.***

On Mon, Aug 8, 2022, at 1:59 PM, Walter Tommasi wrote:

[2022-08-08 23:36] denised commented on #332
You have to click on "show sources" to get the tabs to show for the first time.

--
  Denise Draper
  ***@***.***

On Mon, Aug 8, 2022, at 1:55 PM, Denise Draper wrote:

[2022-08-09 10:06] joostthehost opened #398 "Allow customization of all icons via config"
### Description

Some icons on the input component are not customizable, while other icons can be changed. Please make it so that all icons can be changed.

Icons that cannot be changed at the moment:
- The icon for password visibility cannot be modified via the config.
- The icon to clear the input field cannot be modified via the config.
- Perhaps others that I missed?

The current icons are har

[2022-08-10 11:33] michastubi opened #399 "Click events are prevented inside carousel components"
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 3.2.37
**OS/Browser**: Firefox, Chrome...

### Description

This bug can be seen in the Oruga Documentation itself at the "custom" Example:
[https://oruga.io/components/carousel.html#custom](https://oruga.io/components/carousel.html#custom
)

### Steps to reproduce

1. Add a input inside a carousel component
2. Try to focus t

[2022-08-10 21:47] jtommy commented on #399
You can make a PR to fix it checking if there is a reason to maintain `prevent`, what do you think?

[2022-08-11 10:34] zhaolinlau opened #401 "Parallax Effect [Feature Request]"
### Description

[Example from vuetify](https://vuetifyjs.com/en/components/parallax/)

### Why Oruga need this feature

To improve the growth of oruga and its functionality

[2022-08-11 10:40] zhaolinlau opened #402 "Scroll To [Feature Request]"
### Description

When I click a button, it will scroll to the part that i specified
[Example from vuetify](https://vuetifyjs.com/en/directives/scroll/)

### Why Oruga need this feature

to improve the growth of oruga and its functionality

[2022-08-11 10:42] zhaolinlau opened #403 "Hover Effect [Feature Request]"
### Description

[Example from vuetify](https://vuetifyjs.com/en/components/hover/)

### Why Oruga need this feature

To grow the functionality of oruga

[2022-08-11 10:50] zhaolinlau opened #404 "Countdown [Feature Request]"
### Description

[Example from naive ui](https://www.naiveui.com/en-US/os-theme/components/countdown)

### Why Oruga need this feature

To improve the functionality of oruga

[2022-08-11 11:02] zhaolinlau opened #405 "Add update feeds to discord server [Webhook]"
### Description

[Example from youtube](https://youtu.be/-KDQqWNK3Tw)

### Why Oruga need this feature

To improve the community server of oruga

[2022-08-11 12:10] jtommy commented on #405
It could be helpful for new release!

[2022-08-11 13:28] joostthehost commented on #398
Thanks for your reply! I have read the documentation, and have a custom icon component set up in order to support the 'material-symbols-outlined'. My custom component is based on your suggestion from this issue: https://github.com/oruga-ui/oruga/issues/359.

In my case, I _want_ to replace the `eye` icon _everywhere_, so the possible issue you point out does not affect me.

[code]

[code]

This wo

[2022-08-11 13:58] zhaolinlau commented on #405
May separate into several channels like pulls, commits, issues, releases, and issues' comments

[2022-08-11 14:07] jtommy commented on #405
Probably commit is too invasive but we might start to something

[2022-08-11 14:09] zhaolinlau commented on #405
Sure

[2022-08-12 11:46] rpauls commented on #263
Any update on the progress of adding `vue-tsc` and generating type definitions for `@oruga/oruga-next`?
Is there support needed to get this into oruga?

[2022-08-13 05:35] jtommy commented on #398
In you example is simple to replace eye, just add if/switch to iconName computed 😉

[2022-08-16 05:02] joostthehost commented on #398
That's more like a workaround than a structural fix. 🙅

Especially since a lot of the other icons can be customised via the config... Why not make them all customizable like that?

[2022-08-16 06:24] jtommy commented on #398
I don't see it as structural fix, btw you can do the same thing replacing the icon mapping as i told you (`intenalIcons` field)

[2022-08-17 09:01] luisdnodrizat commented on #344
Example:
`            <OTable :data="data"
                    :striped="true">
                <OTableColumn field="id" label="ID" width="40" numeric v-slot="props">
                    {{ props.row.id }}
                </OTableColumn>
                <OTableColumn field="first_name" label="First Name" v-slot="props">
                    {{ props.row.first_name }}
                </OTableColumn>

[2022-08-18 13:01] luisdnodrizat opened #406 "Add loading prop to button component"
### Description

Please add loading prop to Button component.

### Why Oruga need this feature

Is very useful like buefy buttons:
https://buefy.org/documentation/button

[2022-08-18 13:40] jtommy commented on #406
There is already a open PR https://github.com/oruga-ui/oruga/pull/376, but I have to decide how to implement it

[2022-08-19 06:51] luisdnodrizat commented on #406
Thank you,
I was able to integrate the loader into my project using the code from the PR.
Temporal solution :)

[2022-08-19 07:26] jtommy commented on #406
Ok, but keep in mind that i might change it and add the feature in other way

[2022-08-19 22:05] blm768 opened #407 "FormElementMixin should listen for the `invalid` event"
### Overview of the problem

**Oruga** version: 0.5.5
**VueJS** version: 3.2.33 (probably affects 2.x as well)
**OS/Browser**: (all)

### Description

`FormElementMixin` checks for HTML5 constraint validation errors on blur and updates the parent field's message if a constraint fails. This works just fine if the constraint failure was caused by user input. However, this doesn't account for cases w

[2022-08-20 06:22] thor9n opened #408 "Add @active event to Step Item"
### Description

Add an `@active` event for Step Items, which are triggered when an individuals step's `v-model` is true. This would act as an `onMounted()` for Step Items.

`<o-step-item value="invitation" @active="on_invitation_active()">`

Full example: https://pastecode.io/s/8ec3n6qo

### Why Oruga need this feature

As a developer I expect a UI library to cover basic events for their componen

[2022-08-22 07:10] luisdnodrizat opened #409 "Configure keyup enter to button"
### Description

Is there a way to configure @keyup.enter to a Button component?

### Why Oruga need this feature

Sometimes in some forms it is useful to be able to do this.

Please add "question" tag for this Issue. Thank you!

[2022-08-22 19:51] blm768 opened #410 "OCheckbox doesn't bind "extra" props to the input"
### Overview of the problem

**Oruga** version: 0.5.5
**Vuejs** version: 3.2.33 (probably affects 2.x as well)
**OS/Browser**: (all)

### Description

The form controls that produce native, non-boolean inputs (e.g. `OInput` and `OSelect`) use `v-bind="$attrs"` to bind any "extra" props to the `<input>` or `<select>` element rather than the wrapper element that most of these components generate. Th

[2022-08-23 08:22] DavidVaness commented on #335
@jtommy Is this fix released? I am on v0.5.5 and get the same issue

[2022-08-24 15:44] jtommy commented on #335
@DavidVaness it will be available in the next 0.5.6

[2022-08-24 15:49] #410 closed

[2022-08-25 10:44] luisdnodrizat commented on #75
`npm install @mdi/font`
`@import '@mdi/font/css/materialdesignicons.min.css';`

[2022-08-25 10:44] luisdnodrizat commented on #287
If you want to use default mdi:
`npm install @mdi/font`
`@import '@mdi/font/css/materialdesignicons.min.css';`

[2022-08-26 13:16] jtommy commented on #409
`<o-button @keyup.enter>Btn</o-button>`, like native button

[2022-08-26 13:16] #409 closed

[2022-08-26 13:17] jtommy commented on #399
@michastubi did you investigate about it?

[2022-08-26 13:17] #364 closed

[2022-08-30 00:43] urkle opened #411 "Autocomplete/inputitems separate of "display" and "value""
### Description

When using the autocomplete component with an array of objects the display and value are tied together to be the same. However this is not always desirable.

The inputitems component has a slightly different approach in that you can specify the "display" and get the object as the 'value", but even that is not always desirable.

For example (autocomplete scenario) I have a ID field

[2022-08-30 01:15] urkle commented on #411
My workaround currently is this.

For o-autocomplete
[code]
[code]

For o-inputitems
[code]
[code]

[2022-08-31 22:21] blm768 commented on #407
Another thing that seems a bit off with the current implementation is that `checkHtml5Validity` calls `checkValidity`, which may trigger `invalid` events. For "vanilla" HTML controls, `invalid` events are pretty much only triggered when the user tries to submit a form, which sort of suggests that `checkValidity` should mostly be called for events that "resemble" form submission — that is, we're ab

[2022-08-31 22:22] blm768 commented on #407
If the decision is made that Oruga should move in this direction, I'd be willing to take on the implementation work.

[2022-09-01 17:12] jtommy commented on #411
Yes, at the moment your way is correct

[2022-09-05 11:39] Velome commented on #142
Hi all,
I just lost 2 hours figuring out what was happening before reading this post and go the "o-table-column" way instead of the "columns prop" way.
The doc is still giving the "columns prop" way as exemple...

[2022-09-07 21:07] #393 closed

[2022-09-08 20:14] jtommy commented on #409
Can you reproduce on codepen or similar?

[2022-09-13 07:23] fmoessle opened #412 "Content of modal gets overlayed"
### Overview of the problem

"@oruga-ui/oruga-next": "0.5.6"
"nuxt": "3.0.0-rc.9"
OS/Browser**: Chrome/Safari/Firefox (latest)

### Description

This might be a regression of: fix(modal): modal content position attribute.

It worked with "@oruga-ui/oruga-next": "0.5.5"

When opening a modal, the content gets under the overlay. This even happens on the official docs:

<img width="500" alt="image" s

[2022-09-16 11:53] emeric254 commented on #412
Same problem with `@oruga-ui/oruga`

forcing `"@oruga-ui/oruga": "=0.5.5",` in package.json solved the problem

[2022-09-16 11:59] jtommy commented on #412
Probably the fix https://github.com/oruga-ui/oruga/commit/41d9475999faf5940f272604104240934074682c broke the modal style using the default css. Just to override it instead of downgrade to 0.5.5

[2022-09-16 12:00] #405 closed

[2022-09-17 14:55] #412 closed

[2022-09-18 19:38] nioc opened #414 "Component request : Menu"
### Description

The [buefy menu component](https://buefy.org/documentation/menu/ ) is great.
I understand it was proposed in merge request #70 year ago, then removed. Do you plan to propose a menu component?

### Why Oruga need this feature

It is a frequently used component.

[2022-09-19 17:38] jtommy commented on #335
@DavidVaness i released it last week

[2022-09-20 14:57] groundfloorwebb commented on #414
+1 to this, the menu components are one of the most important gaps blocking my team from adopting oruga. Looks like the old PR only includes vue 2 support and would need a fair amount of work to complete. I'm happy to help out with implementation.

[2022-09-20 15:34] jtommy commented on #414
@groundfloorwebb it would be great! You might start from scratch, the current PR is really old

[2022-09-21 09:47] emeric254 opened #415 "Warning about css color-adjust during build"
This is what i got when i do a `npm run serve` or a `npm run build` on my project

[code]

this name change was done in firefox 97 according to https://developer.mozilla.org/en-US/docs/Web/CSS/print-color-adjust#browser_compatibility
and this appears on my project dependencies after i upgraded them (after a very long time :sweat_smile: )

My project dependencies
(btw. I'm moving from buefy to orug

[2022-09-21 11:50] #415 closed

[2022-09-22 14:04] beljand opened #417 "Datepicker - month picker differences in prop types"
### Overview of the problem

**Oruga** version: [0.5.6]
**Vuejs** version: [2.7.8]
**OS/Browser**: MacOS / Chrome

### Description

`selectabledates` in https://github.com/oruga-ui/oruga/blob/develop/packages/oruga/src/components/datepicker/Datepicker.vue#L378 must be and `Array`, but when using a Month picker, the same prop can be also a `Function` - https://github.com/oruga-ui/oruga/blob/develop

[2022-09-23 17:28] jtommy commented on #407
@blm768 you might work on it so I can review your PR

[2022-09-25 08:14] jtommy commented on #417
You are right, can you make a PR?

[2022-09-25 08:17] #398 closed

[2022-09-26 13:34] beljand commented on #417
Will do

[2022-09-26 19:59] jtommy commented on #399
fix https://github.com/oruga-ui/oruga/commit/159201e1dfd7f0342585c377e932a97d0b5d04d2

[2022-09-26 19:59] #399 closed

[2022-09-26 20:12] jtommy commented on #380
@MattiasMartens @luisdnodrizat The fix 1 is probably a good compromise, use `-webkit-` is not a problem (keep in mind that the purpose of oruga is not the default full theme anyway).

@MattiasMartens can you make a PR?

[2022-09-26 20:14] jtommy commented on #371
@drewda the new docs is available with the last release

[2022-09-26 20:14] #371 closed

[2022-09-26 21:05] #417 closed

[2022-09-26 21:15] drewda commented on #371
I see https://github.com/oruga-ui/theme-bulma#buefy-users Thanks!

[2022-09-27 22:24] #105 closed

[2022-09-27 22:27] blm768 commented on #407
I'll take a look. I think it'll be fairly straightforward, although there'll be a bit of boilerplate to sort out.

[2022-10-06 21:01] #408 closed

[2022-10-09 13:14] travatomic opened #424 "How do you run the oruga-next tests?"
I found instructions [here](https://github.com/oruga-ui/oruga/blob/develop/.github/CONTRIBUTING.md?plain=1#L83) for running the `oruga` tests, but I can't seem to work out how to run the `oruga-next` tests. How do you run the `oruga-next` tests?

[2022-10-09 13:17] jtommy commented on #424
@travatomic it doesn't have any unit tests, there is a PR that uses cypress but it's working in progress.

[2022-10-10 03:13] #424 closed

[2022-10-11 17:38] jtommy commented on #414
Ref: https://github.com/oruga-ui/oruga/pull/419

[2022-10-11 17:38] #414 closed

[2022-10-11 17:53] nioc commented on #414
Thanks a lot @groundfloorwebb

[2022-10-12 01:40] tanhs opened #426 "o-input not showing data inside o-field"
### Overview of the problem

**Oruga** version: [0.5.6]
**Vuejs** version: [3.2.40]
**OS/Browser**:Windows 10/Firefox105.0.2

### Description

Problem with o-field and o-input, value are not show in the input tag, no error showing in console, screenshot attached

### Steps to reproduce
if the o-input is inside o-field, it will not show anything
[code]

### Expected behavior

Data should show in in

[2022-10-12 12:05] lucifilote opened #427 "OField message slot not rendered when horizontal"
### Overview of the problem

**Oruga** version: [0.5.6]
**Vuejs** version: [2.7.10]
**OS/Browser**:

### Description

When using
``<o-field horizontal>
``
`         <template #message>Message goes here</template>`
`
  </o-field>`

The #message slot is not rendered.

### Steps to reproduce

1. Create an o-field with `horizontal` set to `true`
2. add child template for slot #message

### Expected be

[2022-10-13 08:10] GiorgioJuniors opened #428 "Tab and Steps component do not show content on initial page load"
### Overview of the problem

**Oruga** version: "0.5.6"
**Nuxt** version: 2.15.8

### Description
 in my project i noticed the same problem for steps and tab component. They do not show content on initial page load.
 here a sandbox that reproduce the issue : https://codesandbox.io/s/relaxed-orla-b8p1wx

[2022-10-14 11:39] saadrhiri opened #429 "Values passed on range slider are not showing correctly"
### Overview of the problem

**Oruga** version: [0.5.0]
**Vuejs** version: [2.6.14]
**MacOS/Chrome**:

### Description

Values passed on range slider are not showing correctly, or more precisely the min value is right but the max value gets also the initial value of min.

``<o-slider
          v-model="range"
          :tooltip="false"
          tooltip-variant="info"
          :disabled="loading"

[2022-10-14 13:19] fjserrano1 opened #430 "checkable option not working"
In table component with checkable option, when click in the checkbox of the header the component is not selecting/unselectings all rows in table.

[2022-10-14 13:54] jtommy commented on #430
Need to know Vue version and can you reproduce on codepen or similar?

[2022-10-18 14:53] RonenMars opened #431 "Set active tab programmatically"
### Description
An option to set the active tab programmatically.

Currently, as I see it, the active tab is saved by the `o-tabs` component.
But if, for example, I reload the page with a specific URL, I would like to be able to set the appropriate active tab by the URL or other parameters in my app.

### Why Oruga need this feature
It looks like a helpful feature, that would help a lot of users,

[2022-10-19 13:26] adrianogiannacco commented on #428
Following

[2022-10-19 13:28] jtommy commented on #332
Double issue https://github.com/oruga-ui/oruga/issues/428

[2022-10-19 13:28] #332 closed

[2022-10-22 18:24] yoji-kojio commented on #427
hey @lucifilote ! I believe that this behaviour is intentional
https://github.com/yoji-kojio/oruga/blob/develop/packages/oruga/src/components/field/Field.vue#L34-L40

`message` slot will exist only if `horizontal` props is not enabled!

[2022-10-22 18:34] yoji-kojio commented on #427
@jtommy @astagi can you tell us if this is intentional or a bug? 😸

[2022-10-25 06:44] jtommy commented on #427
@yoji-kojio it's a bug!

[2022-10-25 07:24] mlmoravek commented on #430
@jtommy Table check-all is not working -> Look Dokumentation (Vue3) -> Table -> Checkable

[2022-10-25 10:40] yoji-kojio commented on #427
@jtommy can you assign to me? I will open a PR :D

[2022-10-25 12:29] mmazanec22 opened #432 "Outline: none prevents keyboard visible focus"
### Overview of the problem

**Oruga** version: 0.5.6
**Vuejs** version: 3.2.30
**OS/Browser**: Pop!_OS/Chrome

### Description

The presence of `outline: none` on interactive elements prevents them from receiving visible keyboard focus. This is a conflict with [WCAG Success Criterion 2.4.7 Focus Visible (Level AA)](https://www.w3.org/TR/WCAG21/#focus-visible): any keyboard operable user interface

[2022-10-30 20:06] jtommy commented on #432
Can you make a PR to fix the default theme?

[2022-10-30 23:10] #430 closed

[2022-10-30 23:20] jtommy commented on #429
@saadrhiri can you reproduce on codepen o similar? I am not able to see the error looking at the docs.

[2022-10-30 23:21] jtommy commented on #426
@tanhs can you reproduce on codepen or similar?

[2022-10-31 14:36] netoec84 opened #434 "Read only support in o-input"
### Description

`readonly` property is not supported in `o-input`. Sometimes this functionality is needed so it would be useful to add it

### Why Oruga need this feature

Complements the current operation of `o-input`, additionally the `readonly` property is native in the `<input>` tag

I can add the support, but in the contribution guide it was suggested to post it as an Issue before developing

[2022-10-31 21:19] jtommy commented on #434
@netoec84 there isn't a class because you can style it with readonly attribute by CSS but if you want to add a new class prop you are welcome 😉

[2022-10-31 22:13] jtommy commented on #428
@GiorgioJuniors the problem is that you are mixing string and number as step/tabs item value, try to use only number for example

[2022-10-31 22:14] jtommy commented on #332
@denised  the problem is that you are mixing string and number as tabs-item value, try to use only number for example

[2022-10-31 23:28] #333 closed

[2022-11-01 10:53] mlmoravek opened #435 "Sidebar Hidden/Showing Classes"
### Description
It would be create to define specific classes for each the hidden and the showing state of the Sidebar component.

Todo: Expend the computed prop _contentClasses_ in Sidebar.vue with "shownClass" if _isOpen_ else "hiddenClass".

### Why Oruga need this feature
Some CSS-Frameworks like Bootstrap set specific classes when their sidebar (called Offcanvas in Bootstrap) is in the open o

[2022-11-01 10:53] jtommy commented on #435
You are welcome 😉

[2022-11-01 22:12] #298 closed

[2022-11-02 19:32] #435 closed

[2022-11-02 20:11] #431 closed

[2022-11-04 14:39] GiorgioJuniors commented on #428
i updated the sandbox using only numbers but the problem don't resolve, same results using strings.

[2022-11-06 14:07] jeevan-lal opened #437 "Methods property "noticeCustomContainerClasses" is already defined in Props in the Notification Component"
**Overview of the problem**

Oruga version: 0.5.8
Vue version: 3.2.37

**Description**

I'm using notification component like this:

[code]

this warning coming..

<img width="959" alt="image" src="https://user-images.githubusercontent.com/40091315/200175402-369d49a4-0f01-4b8f-b46d-2f66e1e89da7.png">

[2022-11-06 14:10] jtommy commented on #437
Ok, it's only a warning it should be easy to fix it (you can make a PR if you want)

[2022-11-08 10:07] gmw-web opened #438 "Cant customize styling using scss variable (oruga-next)"
### Overview of the problem

**Oruga** version: @oruga-ui/oruga-next @v0.5.8
**Vuejs** version: 3.2.41
**OS/Browser**: Chrome latest

### Description
Cant customize styling using SCSS variables when following the instructions from the docs:
https://oruga.io/documentation/#using-css-or-sass-scss-variables

I saw this issues: https://github.com/oruga-ui/oruga/issues/87, but that seems to apply to `o

[2022-11-08 11:07] Bowis opened #439 "Sort icons not showing in Table"
### Overview of the problem

**Oruga** version: [0.5.8]
**Vuejs** version: [3.2.41]
**OS/Browser**: Brave

### Description

Sort Icons are not showing in table

### Steps to reproduce

I have the following table, based on the pagination example on the website:

[code]

### Expected behavior

The sort icons to show

### Actual behavior

Icons don't show, when inspecting the code i see that` o-table

[2022-11-08 14:15] mlmoravek opened #440 "Fix Dokumentation (next)"
### Description

The  "On this page" navigation on `Dropdown`, `Notification`, `Slider`, `Steps`, `Table` and `Tabs` is broken on docs-next.
* Some `Props`, `Events`, `Slots` headings are `###`, but they should be `##`.

Furthermore, on `Table` there isn't any documentation for the `o-table-column` component.

Also on every page the link to "Full scss file" is also broken:
* It is generated: `{pat

[2022-11-09 10:18] Bowis commented on #439
Found the solution in #75

` yarn add @mdi/font`
`import "@mdi/font/css/materialdesignicons.min.css";`

In `main.ts`

Should be added to the documentation though! Was under the impressions that this was added by default

[2022-11-09 10:18] #439 closed

[2022-11-09 10:50] mat813 opened #442 "horizontal field somewhat broken in 0.5.8"
### Overview of the problem

**Oruga** version: 0.5.8
**Vuejs** version: 3.2.41
**OS/Browser**: Firefox Linux

### Description

After 9e5b406e33b63ce3c0feeafd356f290eda829922 which fixes  #427, it seems `<o-field horizontal>` is broken, there is a new div without any styling on the input side, and it lacks the correct flex attributes to display correctly.

### Steps to reproduce

[code]
now genera